  <!-- Content Wrapper. Contains page content -->
  <div  class="content-wrapper" *ngIf="app.isLoggedIn?'continue':this.router.navigateByUrl('accueil')">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> <i class="fas fa-briefcase"></i> Fonctions</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a >Accueil</a></li>
              <li class="breadcrumb-item active">fonctions</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="text-center">
            <a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm"><i class="fas fa-plus"></i>Ajouter une nouvelle fonctions</a>
        </div>
        <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-plus-square"></i>Ajouter une nouvelle fonctions</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  <form  #f="ngForm" (ngSubmit)="onAddNewFonction(f.value)">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Designation </label>
                          <input type="text"  class="form-control validate" name="designationFonction" ngModel>
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Abreviation </label>
                            <input type="text"  class="form-control validate" name="abreviationFonction" ngModel>
                        </div>
                    </div>
                    <div class="modal-footer d-flex">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalSubscriptionForm">
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Modifier une Fonction</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <form *ngIf="fonction"  #f="ngForm" (ngSubmit)="onUpdateFonction(f.value, fonction.idFonction)">
                  <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                      <label data-error="wrong" data-success="right">Designation </label>
                      <input type="text"  class="form-control validate" name="designationFonction" ngModel [(ngModel)]="fonction.designationFonction">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Abreviation </label>
                        <input type="text"  class="form-control validate" name="abreviationFonction" ngModel [(ngModel)]="fonction.abreviationFonction">
                    </div>
                  </div>
                  <div class="modal-footer d-flex" >
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                      <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUpdateForm">
                  </div>
                </form>
              </div>
          </div>
        </div>
    </section>
<!-- /.content -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            
            <!-- /.card-header -->
            <div class="card-body">
              <table datatable [dtOptions]="dtOptions"  class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <!-- <th>IdFonction</th> -->
                    <th>Designation</th>
                    <th>Abreviation</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="fonctions">
                  <tr *ngFor="let i of fonctions._embedded.fonctionses">
                    <!-- <td>{{i.idFonction}}</td> -->
                    <td>{{i.designationFonction}}</td>
                    <td>{{i.abreviationFonction}}</td>
                    <td><a (click)="onDeleteFonction(i.idFonction)" class="btn btn-danger" ><i class="fa fa-trash"></i></a></td>
                    <td><a type="button" (click)="onGetFonction(i.idFonction)" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateForm"><i class="fas fa-pen-square"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->


</div>
