  <!-- Main Footer -->
  <footer class="main-footer text-center">
    <strong>Copyright &copy; 2021 <a href="#" style="color: #00A95C;text-transform: uppercase;">aspad</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>