 <!-- Main Sidebar Container -->
 <aside *ngIf="app.isLoggedIn" class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #00A95C;">
    <!-- Brand Logo -->
    <a href="#" class="brand-link" style="color:white;background-color: #00A95C;border:1mm solid #D01C1F; border-left: transparent; border-right: transparent;">
      <img src="../../favicon.ico"  class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">ASPAD</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar" style="background-color: #00A95C;">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <!-- <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle elevation-2" alt="User Image"> -->
          <ngx-avatar size="35" name="{{ this.app?.userActive?.nomCollaborateur }}" class="img-circle elevation-2"></ngx-avatar>
        </div>
        <div class="info" *ngIf="app.isLoggedIn">
          <a href="/profile" class="d-block" routerLink="profile" style="text-transform: uppercase;">{{ this.app?.userActive?.nomCollaborateur }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2" style="background-color: #00A95C;">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="tableaudebord" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                {{ 'Tableau de bord' | translate }}

              </p>
            </a>
          </li>
          <ng-container *ngFor="let role of currentUser.roles">
          <li class="nav-item" *ngIf="role==='ROLE_ADMINISTRATEUR'">
            <a routerLink="instance" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>
                {{ 'instances' | translate }}

              </p>
            </a>
          </li>
          </ng-container>
          <ng-container *ngFor="let role of currentUser.roles">
          <li class="nav-item" *ngIf="role==='ROLE_ADMINISTRATEUR'">
            <a class="nav-link" routerLink="entites">
              <i class="nav-icon fa fa-sitemap"></i>
              <p>
                Organigramme

              </p>
            </a>
            <!-- <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="organigramme" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Schema</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="entites" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Entites</p>
                </a>
              </li>
            </ul>  -->
          </li>
          </ng-container>
          <ng-container *ngFor="let role of currentUser.roles">
          <li class="nav-item" *ngIf="role==='ROLE_ADMINISTRATEUR'">
            <a class="nav-link" routerLink="fonctions">
              <i class="nav-icon fas fa-briefcase"></i>
              <p>
                {{ 'Fonctions' | translate }}
              </p>
            </a>
          </li>
          </ng-container>

          <ng-container *ngFor="let role of currentUser.roles">
          <li class="nav-item" *ngIf="role==='ROLE_GETIONNAIRE' || role==='ROLE_ADMINISTRATEUR'">
            <a routerLink="plandaction" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Plan d'action
                <!-- <i class="fas fa-angle-left right"></i> -->
              </p>
            </a>
          </li>
          </ng-container>
          <ng-container *ngFor="let role of currentUser.roles">
          <li class="nav-item" *ngIf="role==='ROLE_UTILISATEUR'">
            <a class="nav-link" routerLink="mestaches">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                {{ 'Mes Taches' | translate }}
                <!-- <i class="fas fa-angle-left right"></i> -->
              </p>
            </a>
          </li>
         </ng-container>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
