  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark" *ngIf="app.isLoggedIn " 
   style="color:white;background-color: #00A95C;border:1mm solid #D01C1F!important;border-left: solid transparent!important;border-right: solid transparent!important;direction: ltr!important;">

    <ul class="navbar-nav" routerLinkActive="active">
        <li class="nav-item">
           <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <!-- <li class="nav-item d-none d-sm-inline-block" *ngIf="app.showAdminBoard">
           <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block" *ngIf="app.showgestionnaireBoard">
            <a href="/gestionnaire" class="nav-link" routerLink="mod">Decideur Board</a>
        </li>
        <li class="nav-item">
            <a href="/user" class="nav-link d-none d-sm-inline-block" *ngIf="app.isLoggedIn" routerLink="user">User</a>
        </li> 
        <ul class="navbar-nav ml-auto" *ngIf="!app.isLoggedIn">
            <li class="nav-item">
                <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
        </ul> -->
    </ul>
    

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto" *ngIf="app.isLoggedIn">
      <li class="nav-item" *ngIf="app.isLoggedIn">
        <a href class="nav-link" role="button" (click)="app.logout()">
          <i class="fa fa-sign-out-alt"></i>
          <!-- {{ 'LogOut' | translate }} -->
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fa fa-globe "></i>
          </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="width: fit-content;">
          <a class="dropdown-item"> 
            <div class="media">
              <div class="media-body">
                <h3 class="dropdown-item-title" (click)="app.useLanguage('ar')">AR</h3>
              </div>
            </div> 
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"> 
            <div class="media">
              <div class="media-body">
                <h3 class="dropdown-item-title" (click)="app.useLanguage('fr')">FR</h3>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"> 
            <div class="media">
              <div class="media-body">
                <h3 class="dropdown-item-title" (click)="app.useLanguage('en')">EN</h3>
              </div>
            </div> 
          </a>
        </div>
      </li> 
      <!-- Messages Dropdown Menu 
      <li class="nav-item dropdown" *ngIf="app.isLoggedIn">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item"> -->
            <!-- Message Start 
            <div class="media">
              <img src="../assets/adminlte/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div> -->
            <!-- Message End
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item"> -->
            <!-- Message Start 
            <div class="media">
              <img src="../assets/adminlte/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div> -->
            <!-- Message End 
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item"> -->
            <!-- Message Start 
            <div class="media">
              <img src="../assets/adminlte/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div> -->
            <!-- Message End 
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li> -->
      <!-- Notifications Dropdown Menu -->
      <!-- <li class="nav-item dropdown" *ngIf="app.isLoggedIn">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li> -->
      <li class="nav-item" *ngIf="app.isLoggedIn">
        <a class="nav-link" data-widget="fullscreen" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <!-- <li class="nav-item" *ngIf="app.isLoggedIn">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li> -->
    </ul>
  </nav>
  <!-- /.navbar -->
