<!-- Content Wrapper. Contains page content -->
<div  class="content-wrapper" *ngIf="app.isLoggedIn?'continue':this.router.navigateByUrl('accueil')">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Taches</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a >Accueil</a></li>
                <li class="breadcrumb-item active">taches</li>
            </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>
<!-- 
    <section class="content">
        <div class="card" *ngIf="PlanAction">
            <div class="card-header text-center">
                <h4>Plan d'action DGTIC</h4>
            </div>
            <div class="card-body"> -->

                <!-- Main content -->
                <section class="content">
                    <div class="text-center">
                        <a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm"><i class="fas fa-plus"></i>Ajouter une nouvelle tache</a>
                    </div>
                    <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-plus-square"></i>Ajouter une nouvelle tache</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            <form  #f="ngForm" (ngSubmit)="onAddNewTache(f.value)">
                                <div class="modal-body mx-3">
                                    <div class="md-form mb-5">
                                        <label data-error="wrong" data-success="right">Designation </label>
                                        <input type="text"  class="form-control validate" name="designationTache" ngModel>
                                    </div>
                                    <div class="md-form mb-5">
                                        <label data-error="wrong" data-success="right">Description </label>
                                        <input type="text"  class="form-control validate" name="descriptionTache" ngModel>
                                    </div>
                                    <div class="md-form mb-5">
                                        <label data-error="wrong" data-success="right">Observation </label>
                                        <input type="text"  class="form-control validate" name="observationTache" ngModel>
                                    </div>
                                    <div class="md-form mb-5">
                                        <label data-error="wrong" data-success="right">Pourcentage </label>
                                        <input type="number"  class="form-control validate" name="pourcentageTache" ngModel>
                                    </div>
                                    <div class="md-form mb-5">                        
                                        <label data-error="wrong" data-success="right" >Statut </label>               
                                          <span class="form-inline" >                     
                                              <select name="statutTache" ngModel class="custom-select">
                                                <option disabled selected >Choisir un statut</option>                            
                                                <option value="Non Commense">Non Commense</option>                            
                                                <option value="En Cours">En Cours</option>                            
                                                <option value="Termine">Termine</option>                            
                                                <option value="Acheve">Acheve</option>                            
                                              </select>
                                          </span> 
                                    </div>                                                     
                                    <div class="md-form mb-5">
                                        <label data-error="wrong" data-success="right">Date de debut </label>
                                        <input type="date"  class="form-control validate" name="dateDebutTache" ngModel>
                                    </div>
                                    <div class="md-form mb-5">
                                        <label data-error="wrong" data-success="right">Date de Fin </label>
                                        <input type="date"  class="form-control validate" name="dateFinTache" ngModel>
                                    </div>
                                    <div class="md-form mb-5">
                                        <label data-error="wrong" data-success="right">Date de debut prevue </label>
                                        <input type="date"  class="form-control validate" name="dateDebutPrevueTache" ngModel>
                                    </div>
                                    <div class="md-form mb-5">
                                        <label data-error="wrong" data-success="right">Date de Fin prevue </label>
                                        <input type="date"  class="form-control validate" name="dateFinPrevueTache" ngModel>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalSubscriptionForm">
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Modifier une Tache</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form *ngIf="tache"  #f="ngForm" (ngSubmit)="onUpdateTache(f.value, tache.idTache)">
                            <div class="modal-body mx-3">
                                <div class="md-form mb-5">
                                    <label data-error="wrong" data-success="right">Designation </label>
                                    <input type="text"  class="form-control validate" name="designationTache" ngModel [(ngModel)]="tache.designationTache">
                                </div>
                                <div class="md-form mb-5">
                                    <label data-error="wrong" data-success="right">Description </label>
                                    <input type="text"  class="form-control validate" name="descriptionTache" ngModel [(ngModel)]="tache.descriptionTache">
                                </div>
                                <div class="md-form mb-5">
                                    <label data-error="wrong" data-success="right">Observation </label>
                                    <input type="text"  class="form-control validate" name="observationTache" ngModel [(ngModel)]="tache.observationTache">
                                </div>
                                <div class="md-form mb-5">
                                    <label data-error="wrong" data-success="right">Pourcentage </label>
                                    <input type="number"  class="form-control validate" name="pourcentageTache" ngModel [(ngModel)]="tache.pourcentageTache">
                                </div>
                                <div class="md-form mb-5">                        
                                    <label data-error="wrong" data-success="right" >Statut </label>               
                                      <span class="form-inline" >                     
                                          <select name="statutTache" ngModel [(ngModel)]="tache.statutTache" class="custom-select">
                                            <option disabled selected >Choisir un statut</option>                            
                                            <option value="Non Commense">Non Commense</option>                            
                                            <option value="En Cours">En Cours</option>                            
                                            <option value="Termine">Termine</option>                            
                                            <option value="Acheve">Acheve</option>                            
                                          </select>
                                      </span> 
                                </div>                                 
                                <div class="md-form mb-5">
                                    <label data-error="wrong" data-success="right">Date de debut </label>
                                    <input type="date"  class="form-control validate" name="dateDebutTache" ngModel [(ngModel)]="tache.dateDebutTache">
                                </div>
                                <div class="md-form mb-5">
                                    <label data-error="wrong" data-success="right">Date de Fin </label>
                                    <input type="date"  class="form-control validate" name="dateFinTache" ngModel [(ngModel)]="tache.dateFinTache">
                                </div>
                                <div class="md-form mb-5">
                                    <label data-error="wrong" data-success="right">Date de debut prevue </label>
                                    <input type="date"  class="form-control validate" name="dateDebutPrevueTache" ngModel [(ngModel)]="tache.dateDebutPrevueTache">
                                </div>
                                <div class="md-form mb-5">
                                    <label data-error="wrong" data-success="right">Date de Fin prevue </label>
                                    <input type="date"  class="form-control validate" name="dateFinPrevueTache" ngModel [(ngModel)]="tache.dateFinPrevueTache">
                                </div>
                            </div>
                            <div class="modal-footer d-flex" >
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUpdateForm">
                            </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </section>
                <!-- /.content -->
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                        <div class="card">
                            
                            <!-- /.card-header -->
                            <div class="card-body table-responsive">
                            <table datatable [dtOptions]="dtOptions"  class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Observation</th>
                                    <th scope="col">Pourcentage</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Date de debut</th>
                                    <th scope="col">Date de Fin</th>
                                    <th scope="col">Date de debut prevue</th>
                                    <th scope="col">Date de Fin prevue</th>                    
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody *ngIf="taches">
                                <tr *ngFor="let i of taches; let j=index">
                                    <th scope="row">{{j+1}}</th>
                                    <td>{{i.designationTache}}</td>
                                    <td>{{i.descriptionTache}}</td>
                                    <td>{{i.observationTache}}</td>
                                    <td>{{i.pourcentageTache}}</td>
                                    <td>{{i.statutTache}}</td>
                                    <td>{{i.dateDebutTache}}</td>
                                    <td>{{i.dateFinTache}}</td>
                                    <td>{{i.dateDebutPrevueTache}}</td>
                                    <td>{{i.dateFinPrevueTache}}</td>                 
                                    <td><a (click)="onDeleteTache(i.idTache)" class="btn btn-danger" ><i class="fa fa-trash"></i></a></td>
                                    <td><a type="button" (click)="onGetTache(i.idTache)" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateForm"><i class="fas fa-pen-square"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->

        <!-- </div>
            <div class="card-footer">
                <button class="btn btn-primary float-end" data-toggle="modal" data-target="#modalUpdateForm"><i class="fa fa-pen-square"></i></button>
                <button class="btn btn-danger float-start" (click)="onDeletePlanAction(PlanAction.idPlanAction)"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </section> -->
</div>
