<div class="content-wrapper" *ngIf="currentUser">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profil</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a >Accueil</a></li>
            <li class="breadcrumb-item active">Profil</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

<section class="content">
  <ng-container *ngFor="let role of currentUser.roles">
    <div class="col-md-12" *ngIf="role==='ROLE_UTILISATEUR'">
      <!-- Widget: user widget style 2 -->
      <div class="card card-container card-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-gradient-success">
          <div class="widget-user-image">
            <img class="img-circle elevation-2" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="User Avatar">
          </div>
          <button class="btn btn-primary float-right"><i class="fa fa-pen-square"></i></button>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">{{ currentUser.username }}</h3>
          <h5 class="widget-user-desc">{{ currentUser.email }}</h5>
          <!-- <strong>Roles:</strong>
          <ul>
            <li *ngFor="let role of currentUser.roles">
              {{ role }}
            </li>
          </ul> -->

        </div>
        <div class="card-footer p-0">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link">
                Taches En Cours <span class="float-right badge bg-warning">31</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                Taches Acheves <span class="float-right badge bg-info">5</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                Taches Termines <span class="float-right badge bg-success">12</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                Taches Non Commence <span class="float-right badge bg-danger">842</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <div class="col-md-12" *ngIf="role==='ROLE_ADMINISTRATEUR'">
      <div class="card card-widget widget-user">
        <div class="widget-user-header bg-info">
          <button class="btn btn-primary float-right"><i class="fa fa-pen-square"></i></button>
          <h3 class="widget-user-username">{{ currentUser.username }}</h3>
          <h5 class="widget-user-desc">{{ currentUser.email }}</h5>
        </div>
        <div class="widget-user-image">
          <img class="img-circle elevation-2" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="User Avatar">
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">3,200</h5>
                <span class="description-text">SALES</span>
              </div>
            </div>
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">13,000</h5>
                <span class="description-text">FOLLOWERS</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">35</h5>
                <span class="description-text">PRODUCTS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</section>
</div>