
<!-- Content Wrapper. Contains page content -->
<div  class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Organigramme</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a >Accueil</a></li>
              <li class="breadcrumb-item active">Organigramme</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <angular-org-chart id="orgChartId" [data]="orgData"></angular-org-chart>
   <!--ORG CHART=========================================-->
   <section class="content">
   <div class="row" *ngIf="entites">
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">Organigramme</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">

      <div class="tree">
         <ul>
            <div>
              <ng-container *ngFor="let i of entites">
                <li *ngIf="i.entiteParent===null" data-toggle="collapse1" href="#collapse1" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse1">
                   <a class="small-box bg-gradient-warning">
                       <div class="container-fluid" >
                           <div class="row">
                             <div class="col-12">{{i.abreviationEntite}}</div>
                             <!-- <div class="col-12" style="width: 50px; font-size: xx-small;" >{{i.designationEntite}}</div>                                  -->
                           </div>
                       </div>
                   </a>
                   <ul class="collapse" id="collapse1">
                     <div>
                     <ng-container *ngFor="let z of entites">
                       <li *ngIf="(z.entiteParent!=null) && (z.entiteParent.idEntite===i.idEntite)" href="#collapse2" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
                           <a class="small-box bg-gradient-success">
                               <div class="container-fluid">
                                   <div class="row">
                                       {{z.abreviationEntite}}
                                   </div>
                               </div>
                           </a>
                           <ul class="collapse" id="collapse2">
                             <div>
                               <ng-container *ngFor="let a of entites">
                                  <li *ngIf="(a.entiteParent!=null) && (a.entiteParent.idEntite===z.idEntite)" href="#collapse3" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
                                       <a class="small-box bg-gradient-success">
                                           <div class="container-fluid">
                                               <div class="row">
                                                   {{a.abreviationEntite}}
                                               </div>
                                           </div>
                                       </a>
                                       <ul class="collapse" id="collapse3">
                                         <div>
                                          <ng-container *ngFor="let c of entites">
                                           <li *ngIf="(c.entiteParent!=null) && (c.entiteParent.idEntite===a.idEntite)" href="#collapse4" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
                                               <a class="small-box bg-gradient-success">
                                                   <div class="container-fluid">
                                                       <div class="row">
                                                           {{c.abreviationEntite}}
                                                       </div>
                                                   </div>
                                               </a>
                                               <ul class="collapse" id="collapse4">
                                                 <div >
                                                 <ng-container *ngFor="let e of entites">
                                                   <li *ngIf="(e.entiteParent!=null) && (e.entiteParent.idEntite===c.idEntite)" href="#collapse5" data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapse5">
                                                       <a class="small-box bg-gradient-success">
                                                           <div class="container-fluid">
                                                               <div class="row">
                                                                   {{e.abreviationEntite}}
                                                               </div>
                                                           </div>
                                                       </a>
                                                       <ul class="collapse" id="collapse5">
                                                           <div>
                                                           <ng-container *ngFor="let g of entites">
                                                           <li *ngIf="(g.entiteParent!=null) && (g.entiteParent.idEntite===e.idEntite)" href="#collapse6" data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false" aria-controls="collapse6">      
                                                               <a class="small-box bg-gradient-success">
                                                                   <div class="container-fluid">
                                                                       <div class="row">
                                                                           {{g.abreviationEntite}}
                                                                       </div>
                                                                   </div>
                                                               </a>
                                                               <ul class="collapse" id="collapse6">
                                                                   <div>
                                                                   <ng-container *ngFor="let h of entites">
                                                                   <li *ngIf="(h.entiteParent!=null) && (h.entiteParent.idEntite===g.idEntite)" href="#collapse7" data-toggle="collapse" href="#collapse7" role="button" aria-expanded="false" aria-controls="collapse7">      
                                                                       <a class="small-box bg-gradient-success">
                                                                           <div class="container-fluid">
                                                                               <div class="row">
                                                                                   {{h.abreviationEntite}}
                                                                               </div>
                                                                           </div>
                                                                       </a>
                                                                       <ul class="collapse" id="collapse7">
                                                                           <div>
                                                                           <ng-container *ngFor="let j of entites">
                                                                           <li *ngIf="(j.entiteParent!=null) && (j.entiteParent.idEntite===h.idEntite)" href="#collapse8" data-toggle="collapse" href="#collapse8" role="button" aria-expanded="false" aria-controls="collapse8">      
                                                                               <a class="small-box bg-gradient-success">
                                                                                   <div class="container-fluid">
                                                                                       <div class="row">
                                                                                           {{j.abreviationEntite}}
                                                                                       </div>
                                                                                   </div>
                                                                               </a>
                                                                               <!-- 
                                                                               <ul class="collapse" id="collapse8">
                                                                                   <div>
                                                                                   <ng-container *ngFor="let j of entites">
                                                                                   <li *ngIf="(j.entiteParent!=null) && (j.entiteParent.idEntite===h.idEntite)">      
                                                                                       <a class="small-box bg-gradient-success">
                                                                                           <div class="container-fluid">
                                                                                               <div class="row">
                                                                                                   {{j.abreviationEntite}}
                                                                                               </div>
                                                                                           </div>
                                                                                       </a>                                                                                                                                                                            
                                                                                           
                                                                                   </li> 
                                                                                   </ng-container>   
                                                                                   </div>                          
                                                                               </ul>             

                                                                               -->
                                                                           </li> 
                                                                           </ng-container>   
                                                                           </div>                          
                                                                       </ul>             
                                                                   </li> 
                                                                   </ng-container>   
                                                                   </div>                          
                                                               </ul>                                                                               
                                                           </li> 
                                                           </ng-container>   
                                                           </div>                          
                                                       </ul>   
                                                   </li>  
                                                   </ng-container>  
                                                   </div>                          
                                               </ul> 
                                           </li>  
                                         </ng-container>
                                       </div>                            
                                   </ul>   
                               </li> 
                              </ng-container>
                             </div>                             
                           </ul>  
                       </li>
                       </ng-container>  
                       </div>                   
                   </ul>
               </li>
             </ng-container>
             </div>
         </ul>
     </div>
</div>
<!-- /.card-body -->
</div>
<!--/.card -->
  </div> 
  </section>
</div>
