/* org chart */
 #orgChartId .org-chart-entity-border {
    border-left: 1px solid #FFD700;
    border-top: 1px solid #FFD700;
}
#orgChartId .org-chart-entity-connector {
    height: 2em;
}
#orgChartId .org-chart-entity-box {
    align-items: center;
    border: 1px solid #00A95C;
    background-color: #00A95C;
    border-radius: 3px;
    box-shadow: 0 .5rem 1rem #777!important;
} 

/*#region Organizational Chart*/
.tree * {
    margin: 0; padding: 0;
    align-items: center;

}

.tree ul {
    padding-top: 20px; position: relative;

    -transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    -transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 2px solid #696969;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 2px solid #696969;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 2px solid #696969;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #696969;
    width: 0; height: 20px;
}

.tree li a{
    height: fit-content;
    width: auto;
    padding: 5px 10px;
    text-decoration: none;
    /* background-color: grey; */
    /* color: black; */
    /* font-family: arial, verdana, tahoma; */
    /* font-size: 11px; */
    display: inline-block;  
    box-shadow: 0 .5rem 1rem #D01C1F!important;


    -transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
/* .tree li a:hover, .tree li a:hover+ul li a {
    background: #cbcbcb; color: #000;
} */