  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" *ngIf="app.isLoggedIn?'continue':this.router.navigateByUrl('accueil')">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Utilisateurs</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a >Accueil</a></li>
              <li class="breadcrumb-item active">utilisateurs</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Modifier un Utilisateur</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <form *ngIf="utilisateur" #f="ngForm" (ngSubmit)="onUpdateUtilisateur(f.value, utilisateur.idUtilisateur)">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Login </label>
                          <input type="text"  class="form-control validate" name="username" ngModel required minlength="3" maxlength="20">
                        </div>                
                        <div class="md-form mb-5 d-none">
                            <label data-error="wrong" data-success="right">Email </label>
                            <input type="email"  class="form-control validate" name="password" ngModel >
                        </div>   
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Password </label>
                          <input type="password"  class="form-control validate" name="password" ngModel required minlength="6">
                        </div>                
                        <div class="md-form mb-5" *ngIf="roles">                        
                          <label data-error="wrong" data-success="right" >Role </label>               
                            <span class="form-inline" >                     
                                <select style="text-transform: uppercase;" class="custom-select" (change)="onSelectedRole($event.target.value)">
                                  <option value="" disabled selected >Choisir un profil</option>                            
                                  <option *ngFor="let role of roles" [value]="role">
                                  <ng-container *ngIf="role!='ROLE_ADMINISTRATEUR'"></ng-container>
                                    {{role}}
                                  </option>                            
                                </select>
                            </span> 
                        </div>    
                    </div>
                    <div class="modal-footer d-flex" >
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUpdateForm">
                    </div>
                </form>
              </div>
          </div>
        </div>
    </section>
    <!-- /.content -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            
            <!-- /.card-header -->
            <div class="card-body table-responsive">
              <table datatable [dtOptions]="dtOptions"  class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Login</th>
                    <th>Mot de pass</th>
                    <th></th>    
                    <th></th>                                
                  </tr>
                </thead>
                <tbody *ngIf="utilisateurs">
                  <tr *ngFor="let i of utilisateurs._embedded.users; let j=index">
                    <td>{{j+1}}</td>
                    <td>{{i.username}}</td>
                    <td>{{i.password}}</td>
                    <td><a (click)="onDeleteUtilisateur(i.username)" class="btn btn-danger" ><i class="fas fa-trash"></i></a></td>
                    <td><a (click)="onGetUtilisateur(i.username)" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateForm"><i class="fas fa-pen-square"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
     
    
</div>