<!-- Content Wrapper. Contains page content -->
<div  class="content-wrapper" *ngIf="!app.isLoggedIn?this.router.navigateByUrl('accueil'):'continue'">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{{ 'Tableau de bord' | translate }}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a >Accueil</a></li>
              <li class="breadcrumb-item active">{{ 'Tableau de bord' | translate }}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Small Box (Stat card) -->
        <h5 class="mb-2 mt-4">Statistiques</h5>
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{collaborateursInstance?.length }}</h3>

                <p>Collaborateurs</p>
              </div>
              <div class="icon">
                <i class="fas fa-users"></i>
              </div>
              <!-- <a href="collaborateursInstance" class="small-box-footer">
                Plus d'information <i class="fas fa-arrow-circle-right"></i>
              </a>  -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{activitesInstanceAcheve?.length * 100 / (activitesInstance?activitesInstance.length : 1) }}<sup style="font-size: 20px">%</sup></h3>

                <p>Plan d'action</p>
              </div>
              <div class="icon">
                <i class="fas fa-table"></i>
              </div>
              <!-- <a href="collaborateursInstance" class="small-box-footer">
                Plus d'information <i class="fas fa-arrow-circle-right"></i>
              </a>  -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{activitesInstance?.length }}</h3>
                <p>Activites</p>
              </div>
              <div class="icon">
                <i class="fas fa-list"></i>
              </div>
              <!-- <a href="ActivitesInstance" class="small-box-footer">
                Plus d'information <i class="fas fa-arrow-circle-right"></i>
              </a>  -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>{{tachesInstance?.length}}</h3>
                <p>Taches</p>
              </div>
              <div class="icon">
                <i class="fas fa-chart-pie"></i>
              </div>
              <!-- <a href="tachesInstance" class="small-box-footer">
                Plus d'information <i class="fas fa-arrow-circle-right"></i>
              </a>  -->
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-gradient-info">
              <span class="info-box-icon"><i class="fas fa-list"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Activites Acheves</span>
                <span class="info-box-number">{{activitesInstanceAcheve?.length}}</span>

                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{ 'width' : (activitesInstanceAcheve?activitesInstanceAcheve.length : 0)  * 100 / (activitesInstance?activitesInstance.length : 1) + '%'}"></div>
                </div>
                <!-- <span class="progress-description">
                  70% Increase in 30 Days
                </span> -->
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-gradient-success">
              <span class="info-box-icon"><i class="fas fa-list"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Activites Termines</span>
                <span class="info-box-number" >{{activitesInstanceTermine?.length}}</span>

                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{ 'width' : activitesInstanceTermine?.length * 100 / activitesInstance.length + '%'}"></div>
                </div>
                <!-- <span class="progress-description">
                  70% Increase in 30 Days
                </span> -->
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-gradient-warning">
              <span class="info-box-icon"><i class="fas fa-list"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Activites En Cours</span>
                <span class="info-box-number">{{activitesInstanceEnCours?.length}}</span>

                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{ 'width' : activitesInstanceEnCours?.length * 100 / activitesInstance?.length + '%'}"></div>
                </div>
                <!-- <span class="progress-description">
                  70% Increase in 30 Days
                </span> -->
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-gradient-danger">
              <span class="info-box-icon"><i class="fas fa-list"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Activites Non Commences</span>
                <span class="info-box-number" >{{activitesInstanceNonCommence?.length}}</span>

                <div class="progress">
                  <div class="progress-bar" [ngStyle]="{ 'width' : activitesInstanceNonCommence?.length * 100 / activitesInstance?.length + '%'}"></div>
                </div>
                <!-- <span class="progress-description">
                  70% Increase in 30 Days
                </span> -->
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">

            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Les Activites</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table datatable [dtOptions]="dtOptions" class="table m-0">
                    <thead class="thead-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Description</th>
                    <th scope="col">Observation</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Pourcentage</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Etat Initial</th>
                    <th scope="col">Objectif</th>
                    <th scope="col">Financement</th>
                    <th scope="col">Date de debut</th>
                    <th scope="col">Date de Fin</th>
                    <th scope="col">Date de debut prevue</th>
                    <th scope="col">Date de Fin prevue</th>
                    <th scope="col">Commentaires</th>
                    <th scope="col">Taches</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="activitesInstance">
                    <tr *ngFor="let i of activitesInstance;let j=index">
                      <th scope="row">{{j+1}}</th>
                      <td>{{i.designationActivite}}</td>
                      <td>{{i.descriptionActivite}}</td>
                      <td>{{i.observationActivite}}</td>
                      <td>
                        <span class="badge badge-warning" *ngIf="i.statutActivite==='En Cours'">{{i.statutActivite}}</span>
                        <span class="badge badge-success" *ngIf="i.statutActivite==='Termine'">{{i.statutActivite}}</span>
                        <span class="badge badge-danger" *ngIf="i.statutActivite==='Non Commense'">{{i.statutActivite}}</span>
                        <span class="badge badge-info" *ngIf="i.statutActivite==='Acheve'">{{i.statutActivite}}</span>
                      </td>
                      <td>
                        {{i.pourcentageActivite}}<span style="font-size: 20px">%</span>
                        <div class="progress progress-xs progress-striped active">
                          <div class="progress-bar bg-primary" s [ngStyle]="{ 'width' : i.pourcentageActivite+'%'}"></div>
                        </div>
                      </td>
                      <td>{{i.budgetActivite}}</td>
                      <td>{{i.etatInitialActivite}}</td>
                      <td>{{i.objectifActivite}}</td>
                      <td>{{i.financementActivite}}</td>
                      <td>{{i.dateDebutActivite}}</td>
                      <td>{{i.dateFinActivite}}</td>
                      <td>{{i.dateDebutPrevueActivite}}</td>
                      <td>{{i.dateFinPrevueActivite}}</td>
                      <td><a (click)="onActiviteActivite(i.idActivite)" class="btn btn-default" data-toggle="modal" data-target="#modalCommentaireForm" ><i class="fas fa-comments"></i></a></td>
                      <td><a routerLink="/activiteTaches" class="btn btn-success float-end" (click)="activiteActivite(i.idActivite)"><i class="fas fa-angle-double-right"></i></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          <section class="content">
            <div class="modal fade" id="modalCommentaireForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header text-center">
                          <h4 class="modal-title w-100 font-weight-bold"> <i class="fas fa-comments"></i> Commentaires Activite</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body mx-3" >
                          <div class="card direct-chat direct-chat-warning">
                            <div class="card-body">
                              <div class="direct-chat-messages" *ngIf="commentairesActivite && app.userActive">
                                <ng-container *ngFor="let commentaireActivite of commentairesActivite._embedded.commentairesActivites;">

                                  <div class="direct-chat-msg right" *ngIf="commentaireActivite.auteurActivite===app.userActive?.nomCollaborateur+' '+app.userActive?.prenomCollaborateur">
                                    <div class="direct-chat-infos clearfix">
                                      <span class="direct-chat-name float-right">{{commentaireActivite.auteurActivite}}</span>
                                      <span class="direct-chat-timestamp float-left">{{commentaireActivite.dateCommentaireActivite}}</span>
                                    </div>
                                    <ngx-avatar class="direct-chat-img" size="40" name="{{commentaireActivite.auteurActivite}}"></ngx-avatar>
                                    <!-- <img class="direct-chat-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="message user image"> -->
                                    <div class="direct-chat-text">{{commentaireActivite.commentaireActivite}}</div>
                                  </div>

                                  <div class="direct-chat-msg" *ngIf="commentaireActivite.auteurActivite!=app.userActive?.nomCollaborateur+' '+app.userActive?.prenomCollaborateur">
                                    <div class="direct-chat-infos clearfix">
                                      <span class="direct-chat-name float-left">{{commentaireActivite.auteurActivite}}</span>
                                      <span class="direct-chat-timestamp float-right">{{commentaireActivite.dateCommentaireActivite}}</span>
                                    </div>
                                    <ngx-avatar class="direct-chat-img" size="40" name="{{commentaireActivite.auteurActivite}}"></ngx-avatar>
                                    <!-- <img class="direct-chat-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="message user image"> -->
                                    <div class="direct-chat-text">{{commentaireActivite.commentaireActivite}}</div>
                                  </div>

                                </ng-container>

                              </div>
                            </div>
                            <div class="card-footer">
                              <form #f="ngForm" (ngSubmit)="onAddNewCommentaireActivite(f.value, app.userActive.idCollaborateur)">
                                <div class="input-group">
                                  <input type="text" name="commentaireActivite" placeholder="Tapez un message ..." class="form-control" ngModel>
                                  <span class="input-group-append">
                                    <input type="submit" class="btn btn-warning" value="Envoyer">
                                  </span>
                                </div>
                              </form>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </section>

        <div class="row">
          <div class="col-md-6">

            <!-- USERS LIST -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Collaborateurs</h3>

                <div class="card-tools">
                  <!-- <span class="badge badge-primary">8 Dernier Collaborateurs</span> -->
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <ul class="users-list clearfix">
                  <ng-container *ngFor="let i of collaborateursInstance; let j=index">
                  <li >
                      <!-- <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="User Image"> -->
                      <ngx-avatar class="text-center" size="150" name="{{i?.nomCollaborateur}}"></ngx-avatar>
                      <a class="users-list-name" href="#">{{i?.nomCollaborateur +" "+ i?.prenomCollaborateur}}</a>
                      <span class="users-list-date">{{i?.fonctions?.designationFonction}}</span>
                      <span class="users-list-date" *ngIf="i?.activites!=null">{{i?.activites?.designationActivite}}</span>
                  </li>
                  </ng-container>
                </ul>
                <!-- /.users-list -->
              </div>
              <!-- /.card-body -->
              <!-- <div class="card-footer text-center">
                <a href="javascript:">Voir tout les collaborateurs</a>
              </div> -->
              <!-- /.card-footer -->
            </div>
            <!--/.card -->
          </div>

          <div class="col-md-6" *ngIf="entites">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Organigramme</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">

            <div class="tree">
               <ul>
                  <div>
                    <ng-container *ngFor="let i of entites">
                      <li *ngIf="i.entiteParent===null" >
                         <a class="small-box bg-gradient-warning">
                             <div class="container-fluid" >
                                 <div class="row">
                                   <div class="col-12">{{i.abreviationEntite}}</div>
                                   <!-- <div class="col-12" style="width: 50px; font-size: xx-small;" >{{i.designationEntite}}</div>                                  -->
                                 </div>
                             </div>
                         </a>
                         <ul>
                           <div>
                           <ng-container *ngFor="let z of entites">
                             <li *ngIf="(z.entiteParent!=null) && (z.entiteParent.idEntite===i.idEntite)">
                                 <a class="small-box bg-gradient-success">
                                     <div class="container-fluid">
                                         <div class="row">
                                             {{z.abreviationEntite}}
                                         </div>
                                     </div>
                                 </a>
                                 <ul>
                                   <div>
                                     <ng-container *ngFor="let a of entites">
                                        <li *ngIf="(a.entiteParent!=null) && (a.entiteParent.idEntite===z.idEntite)">
                                             <a class="small-box bg-gradient-success">
                                                 <div class="container-fluid">
                                                     <div class="row">
                                                         {{a.abreviationEntite}}
                                                     </div>
                                                 </div>
                                             </a>
                                             <ul>
                                               <div>
                                                <ng-container *ngFor="let c of entites">
                                                 <li *ngIf="(c.entiteParent!=null) && (c.entiteParent.idEntite===a.idEntite)">
                                                     <a class="small-box bg-gradient-success">
                                                         <div class="container-fluid">
                                                             <div class="row">
                                                                 {{c.abreviationEntite}}
                                                             </div>
                                                         </div>
                                                     </a>
                                                     <ul>
                                                       <div >
                                                       <ng-container *ngFor="let e of entites">
                                                         <li *ngIf="(e.entiteParent!=null) && (e.entiteParent.idEntite===c.idEntite)">
                                                             <a class="small-box bg-gradient-success">
                                                                 <div class="container-fluid">
                                                                     <div class="row">
                                                                         {{e.abreviationEntite}}
                                                                     </div>
                                                                 </div>
                                                             </a>
                                                             <ul >
                                                                 <div>
                                                                 <ng-container *ngFor="let g of entites">
                                                                 <li *ngIf="(g.entiteParent!=null) && (g.entiteParent.idEntite===e.idEntite)">
                                                                     <a class="small-box bg-gradient-success">
                                                                         <div class="container-fluid">
                                                                             <div class="row">
                                                                                 {{g.abreviationEntite}}
                                                                             </div>
                                                                         </div>
                                                                     </a>
                                                                     <ul >
                                                                         <div>
                                                                         <ng-container *ngFor="let h of entites">
                                                                         <li *ngIf="(h.entiteParent!=null) && (h.entiteParent.idEntite===g.idEntite)">
                                                                             <a class="small-box bg-gradient-success">
                                                                                 <div class="container-fluid">
                                                                                     <div class="row">
                                                                                         {{h.abreviationEntite}}
                                                                                     </div>
                                                                                 </div>
                                                                             </a>
                                                                             <ul >
                                                                                 <div>
                                                                                 <ng-container *ngFor="let j of entites">
                                                                                 <li *ngIf="(j.entiteParent!=null) && (j.entiteParent.idEntite===h.idEntite)">
                                                                                     <a class="small-box bg-gradient-success">
                                                                                         <div class="container-fluid">
                                                                                             <div class="row">
                                                                                                 {{j.abreviationEntite}}
                                                                                             </div>
                                                                                         </div>
                                                                                     </a>
                                                                                     <!--
                                                                                     <ul >
                                                                                         <div>
                                                                                         <ng-container *ngFor="let j of entites">
                                                                                         <li *ngIf="(j.entiteParent!=null) && (j.entiteParent.idEntite===h.idEntite)">
                                                                                             <a class="small-box bg-gradient-success">
                                                                                                 <div class="container-fluid">
                                                                                                     <div class="row">
                                                                                                         {{j.abreviationEntite}}
                                                                                                     </div>
                                                                                                 </div>
                                                                                             </a>

                                                                                         </li>
                                                                                         </ng-container>
                                                                                         </div>
                                                                                     </ul>

                                                                                     -->
                                                                                 </li>
                                                                                 </ng-container>
                                                                                 </div>
                                                                             </ul>
                                                                         </li>
                                                                         </ng-container>
                                                                         </div>
                                                                     </ul>
                                                                 </li>
                                                                 </ng-container>
                                                                 </div>
                                                             </ul>
                                                         </li>
                                                         </ng-container>
                                                         </div>
                                                     </ul>
                                                 </li>
                                               </ng-container>
                                             </div>
                                         </ul>
                                     </li>
                                    </ng-container>
                                   </div>
                                 </ul>
                             </li>
                             </ng-container>
                             </div>
                         </ul>
                     </li>
                   </ng-container>
                   </div>
               </ul>
           </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!--/.card -->
          </div>

        </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
