  <!-- Content Wrapper. Contains page content -->
  <div  class="content-wrapper" *ngIf="app.isLoggedIn?'continue':this.router.navigateByUrl('accueil')">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Activites</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a >Accueil</a></li>
              <li class="breadcrumb-item active">activites</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="text-center">
            <a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm"><i class="fas fa-plus"></i>Ajouter un nouveau activites</a>
        </div>
        <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-plus-square"></i>Ajouter une nouvelle activite</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  <form  #f="ngForm" (ngSubmit)="onAddNewActivite(f.value)">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Designation </label>
                            <input type="text"  class="form-control validate" name="designationActivite" ngModel>
                          </div>
                          <div class="md-form mb-5">
                              <label data-error="wrong" data-success="right">Description </label>
                              <input type="text"  class="form-control validate" name="descriptionActivite" ngModel>
                          </div>
                          <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Observation </label>
                            <input type="text"  class="form-control validate" name="observationActivite" ngModel>
                          </div>
                          <div class="md-form mb-5">
                              <label data-error="wrong" data-success="right">Pourcentage </label>
                              <input type="number"  class="form-control validate" name="pourcentageActivite" ngModel>
                          </div>
                          <div class="md-form mb-5">                        
                            <label data-error="wrong" data-success="right" >Statut </label>               
                              <span class="form-inline" >                     
                                  <select name="statutActivite" ngModel class="custom-select">
                                    <option value="" disabled >Choisir un statut</option>                            
                                    <option value="Non Commense" selected >Non Commense</option>                            
                                    <option value="En Cours">En Cours</option>                            
                                    <option value="Termine">Termine</option>                            
                                    <option value="Acheve">Acheve</option>                            
                                  </select>
                              </span> 
                          </div>                            
                          <div class="md-form mb-5">
                              <label data-error="wrong" data-success="right">Budget </label>
                              <input type="number"  class="form-control validate" name="budgetActivite" ngModel>
                          </div>
                          <div class="md-form mb-5">
                              <label data-error="wrong" data-success="right">Etat Initial </label>
                              <input type="text"  class="form-control validate" name="etatInitialActivite" ngModel>
                          </div>
                          <div class="md-form mb-5">
                              <label data-error="wrong" data-success="right">Objectif </label>
                              <input type="text"  class="form-control validate" name="objectifActivite" ngModel>
                          </div>
                          <div class="md-form mb-5">
                              <label data-error="wrong" data-success="right">Financement </label>
                              <input type="text"  class="form-control validate" name="financementActivite" ngModel>
                          </div>
                          <div class="md-form mb-5">
                              <label data-error="wrong" data-success="right">Date de debut </label>
                              <input type="date"  class="form-control validate" name="dateDebutActivite" ngModel>
                          </div>
                          <div class="md-form mb-5">
                              <label data-error="wrong" data-success="right">Date de Fin </label>
                              <input type="date"  class="form-control validate" name="dateFinActivite" ngModel>
                          </div>
                          <div class="md-form mb-5">
                              <label data-error="wrong" data-success="right">Date de debut prevue </label>
                              <input type="date"  class="form-control validate" name="dateDebutPrevueActivite" ngModel>
                          </div>
                          <div class="md-form mb-5">
                              <label data-error="wrong" data-success="right">Date de Fin prevue </label>
                              <input type="date"  class="form-control validate" name="dateFinPrevueActivite" ngModel>
                          </div>                          
                    </div>
                    <div class="modal-footer d-flex">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalSubscriptionForm">
                    </div>
                  </form>
                </div>
              </div>
        </div>
        <div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Modifier une Activite</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <form *ngIf="activite"  #f="ngForm" (ngSubmit)="onUpdateActivite(f.value, activite.idActivite)">
                  <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                      <label data-error="wrong" data-success="right">Designation </label>
                      <input type="text"  class="form-control validate" name="designationActivite" ngModel [(ngModel)]="activite.designationActivite">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Description </label>
                        <input type="text"  class="form-control validate" name="descriptionActivite" ngModel [(ngModel)]="activite.descriptionActivite">
                    </div>
                    <div class="md-form mb-5">
                      <label data-error="wrong" data-success="right">Observation </label>
                      <input type="text"  class="form-control validate" name="observationActivite" ngModel [(ngModel)]="activite.observationActivite">
                    </div>
                    <div class="md-form mb-5">
                      <label data-error="wrong" data-success="right">Pourcentage </label>
                      <input type="number"  class="form-control validate" name="pourcentageActivite" ngModel [(ngModel)]="activite.pourcentageActivite">
                    </div>  
                    <div class="md-form mb-5">                        
                      <label data-error="wrong" data-success="right" >Statut </label>               
                        <span class="form-inline" >                     
                            <select name="statutActivite" ngModel [(ngModel)]="activite.statutActivite" class="custom-select">
                              <option disabled selected >Choisir un statut</option>                            
                              <option value="Non Commense">Non Commense</option>                            
                              <option value="En Cours">En Cours</option>                            
                              <option value="Termine">Termine</option>                            
                              <option value="Acheve">Acheve</option>                            
                            </select>
                        </span> 
                    </div>                                    
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Budget </label>
                        <input type="number"  class="form-control validate" name="budgetActivite" ngModel [(ngModel)]="activite.budgetActivite">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Etat Initial </label>
                        <input type="text"  class="form-control validate" name="etatInitialActivite" ngModel [(ngModel)]="activite.etatInitialActivite">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Objectif </label>
                        <input type="text"  class="form-control validate" name="objectifActivite" ngModel [(ngModel)]="activite.objectifActivite">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Financement </label>
                        <input type="text"  class="form-control validate" name="financementActivite" ngModel [(ngModel)]="activite.financementActivite">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de debut </label>
                        <input type="date"  class="form-control validate" name="dateDebutActivite" ngModel [(ngModel)]="activite.dateDebutActivite">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de Fin </label>
                        <input type="date"  class="form-control validate" name="dateFinActivite" ngModel [(ngModel)]="activite.dateFinActivite">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de debut prevue </label>
                        <input type="date"  class="form-control validate" name="dateDebutPrevueActivite" ngModel [(ngModel)]="activite.dateDebutPrevueActivite">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de Fin prevue </label>
                        <input type="date"  class="form-control validate" name="dateFinPrevueActivite" ngModel [(ngModel)]="activite.dateFinPrevueActivite">
                    </div>
                  </div>
                  <div class="modal-footer d-flex" >
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                      <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUpdateForm">
                  </div>
                </form>
              </div>
          </div>
        </div>
    </section>
<!-- /.content -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            
            <!-- /.card-header -->
            <div class="card-body table-responsive">
              <table datatable [dtOptions]="dtOptions"  class="table table-bordered table-striped">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Description</th>
                    <th scope="col">Observation</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Pourcentage</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Etat Initial</th>
                    <th scope="col">Objectif</th>
                    <th scope="col">Financement</th>
                    <th scope="col">Date de debut</th>
                    <th scope="col">Date de Fin</th>
                    <th scope="col">Date de debut prevue</th>
                    <th scope="col">Date de Fin prevue</th>                    
                    <th></th>
                    <th></th>
                    <th scope="col">Equipe</th>
                  </tr>
                </thead>
                <tbody *ngIf="activites">
                  <tr *ngFor="let i of activites;let j=index">
                    <th scope="row">{{j+1}}</th>
                    <td>{{i.designationActivite}}</td>
                    <td>{{i.descriptionActivite}}</td>
                    <td>{{i.observationActivite}}</td>
                    <td>{{i.statutActivite}}</td>
                    <td>{{i.pourcentageActivite}}</td>
                    <td>{{i.budgetActivite}}</td>
                    <td>{{i.etatInitialActivite}}</td>
                    <td>{{i.objectifActivite}}</td>
                    <td>{{i.financementActivite}}</td>
                    <td>{{i.dateDebutActivite}}</td>
                    <td>{{i.dateFinActivite}}</td>
                    <td>{{i.dateDebutPrevueActivite}}</td>
                    <td>{{i.dateFinPrevueActivite}}</td>
                    <td><a (click)="onDeleteActivite(i.idActivite)" class="btn btn-danger" ><i class="fa fa-trash"></i></a></td>
                    <td><a type="button" (click)="onGetActivite(i.idActivite)" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateForm"><i class="fas fa-pen-square"></i></a></td>
                    <td><a routerLink="/equipes" class="btn btn-success float-end" (click)="onActiviteActive(i.idActivite)"><i class="fas fa-angle-double-right"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
