<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Taches d'activite</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a >Accueil</a></li>
            <li class="breadcrumb-item active">ActiviteTaches</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-info">
          <span class="info-box-icon"><i class="fas fa-chart-pie"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Taches Acheves</span>
            <span class="info-box-number">{{tachesInstanceAcheve.length}}</span>

            <div class="progress">
              <div class="progress-bar" [ngStyle]="{ 'width' : tachesInstanceAcheve.length * 100 / tachesInstance.length + '%'}"></div>
            </div>
            <!-- <span class="progress-description">
              70% Increase in 30 Days
            </span> -->
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-success">
          <span class="info-box-icon"><i class="fas fa-chart-pie"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Taches Termines</span>
            <span class="info-box-number" >{{tachesInstanceTermine.length}}</span>

            <div class="progress">
              <div class="progress-bar" [ngStyle]="{ 'width' : tachesInstanceTermine.length * 100 / tachesInstance.length + '%'}"></div>
            </div>
            <!-- <span class="progress-description">
              70% Increase in 30 Days
            </span> -->
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-warning">
          <span class="info-box-icon"><i class="fas fa-chart-pie"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Taches En Cours</span>
            <span class="info-box-number">{{tachesInstanceEnCours.length}}</span>

            <div class="progress">
              <div class="progress-bar" [ngStyle]="{ 'width' : tachesInstanceEnCours.length * 100 / tachesInstance.length + '%'}"></div>
            </div>
            <!-- <span class="progress-description">
              70% Increase in 30 Days
            </span> -->
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box bg-gradient-danger">
          <span class="info-box-icon"><i class="fas fa-chart-pie"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Taches Non Commences</span>
            <span class="info-box-number" >{{tachesInstanceNonCommence.length}}</span>

            <div class="progress">
              <div class="progress-bar" [ngStyle]="{ 'width' : tachesInstanceNonCommence.length * 100 / tachesInstance.length + '%'}"></div>
            </div>
            <!-- <span class="progress-description">
              70% Increase in 30 Days
            </span> -->
          </div>
        </div>
      </div>
    </div>

    <section class="content" >
      <div class="text-center" *ngIf="userActive.manager">
          <a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm"><i class="fas fa-plus"></i>Ajouter une nouvelle tache</a>
      </div>
      <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-plus-square"></i>Ajouter une nouvelle tache</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              <form  #f="ngForm" (ngSubmit)="onAddNewTache(f.value)">
                  <div class="modal-body mx-3">
                      <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Designation </label>
                          <input type="text"  class="form-control validate" name="designationTache" ngModel>
                      </div>
                      <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Description </label>
                          <input type="text"  class="form-control validate" name="descriptionTache" ngModel>
                      </div>
                      <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Observation </label>
                          <input type="text"  class="form-control validate" name="observationTache" ngModel>
                      </div>
                      <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Pourcentage </label>
                          <input type="number"  class="form-control validate" name="pourcentageTache" ngModel>
                      </div>
                      <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right" >Statut </label>
                            <span class="form-inline" >
                                <select name="statutTache" ngModel class="custom-select">
                                  <option disabled selected >Choisir un statut</option>
                                  <option value="Non Commense">Non Commense</option>
                                  <option value="En Cours">En Cours</option>
                                  <option value="Termine">Termine</option>
                                  <option value="Acheve">Acheve</option>
                                </select>
                            </span>
                      </div>
                      <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Date de debut </label>
                          <input type="date"  class="form-control validate" name="dateDebutTache" ngModel>
                      </div>
                      <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Date de Fin </label>
                          <input type="date"  class="form-control validate" name="dateFinTache" ngModel>
                      </div>
                      <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Date de debut prevue </label>
                          <input type="date"  class="form-control validate" name="dateDebutPrevueTache" ngModel>
                      </div>
                      <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Date de Fin prevue </label>
                          <input type="date"  class="form-control validate" name="dateFinPrevueTache" ngModel>
                      </div>
                      <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" >Collaborateur </label>
                          <span class="form-inline" *ngIf="collaborateursActivite">
                              <select class="custom-select" (change)="onSelectedCollaborateur($event.target.value)">
                                <option disabled selected >Choisir un collaborateur</option>
                                <option *ngFor="let c of collaborateursActivite" [value]="c.idCollaborateur">{{c?.nomCollaborateur+" "+c.prenomCollaborateur}}</option>
                              </select>
                          </span>
                    </div>
                  </div>
                  <div class="modal-footer d-flex">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                      <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalSubscriptionForm">
                  </div>
              </form>
              </div>
          </div>
      </div>

      <div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Modifier une Tache</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form *ngIf="tache"  #f="ngForm" (ngSubmit)="onUpdateTache(f.value, tache.idTache)">
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Designation </label>
                        <input type="text"  class="form-control validate" name="designationTache" ngModel [(ngModel)]="tache.designationTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Description </label>
                        <input type="text"  class="form-control validate" name="descriptionTache" ngModel [(ngModel)]="tache.descriptionTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Observation </label>
                        <input type="text"  class="form-control validate" name="observationTache" ngModel [(ngModel)]="tache.observationTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Pourcentage </label>
                        <input type="number"  class="form-control validate" name="pourcentageTache" ngModel [(ngModel)]="tache.pourcentageTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" >Statut </label>
                          <span class="form-inline" >
                              <select name="statutTache" ngModel [(ngModel)]="tache.statutTache" class="custom-select">
                                <option disabled selected >Choisir un statut</option>
                                <option value="Non Commense">Non Commense</option>
                                <option value="En Cours">En Cours</option>
                                <option value="Termine">Termine</option>
                                <option value="Acheve">Acheve</option>
                              </select>
                          </span>
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de debut </label>
                        <input type="date"  class="form-control validate" name="dateDebutTache" ngModel [(ngModel)]="tache.dateDebutTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de Fin </label>
                        <input type="date"  class="form-control validate" name="dateFinTache" ngModel [(ngModel)]="tache.dateFinTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de debut prevue </label>
                        <input type="date"  class="form-control validate" name="dateDebutPrevueTache" ngModel [(ngModel)]="tache.dateDebutPrevueTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de Fin prevue </label>
                        <input type="date"  class="form-control validate" name="dateFinPrevueTache" ngModel [(ngModel)]="tache.dateFinPrevueTache">
                    </div>
                </div>
                <div class="modal-footer d-flex" >
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUpdateForm">
                </div>
                </form>
            </div>
        </div>
      </div>
    </section>

    <!-- /.content -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body p-0 table-responsive">
                  <table class="table table-striped" datatable [dtOptions]="dtOptions">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Description</th>
                        <th scope="col">Observation</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Pourcentage</th>
                        <th scope="col">Date de debut</th>
                        <th scope="col">Date de Fin</th>
                        <th scope="col">Date de debut prevue</th>
                        <th scope="col">Date de Fin prevue</th>
                        <th scope="col">Commentaires</th>
                        <th *ngIf="userActive.manager" scope="col"></th>
                        <th *ngIf="userActive.manager" scope="col"></th>
                      </tr>
                    </thead>
                    <tbody *ngIf="activiteTaches">
                        <tr *ngFor="let i of activiteTaches._embedded.tacheses;let j=index">
                          <th scope="row">{{j+1}}</th>
                          <td>{{i.designationTache}}</td>
                          <td>{{i.descriptionTache}}</td>
                          <td>{{i.observationTache}}</td>
                          <td>
                            <span class="badge badge-warning" *ngIf="i.statutTache==='En Cours'">{{i.statutTache}}</span>
                            <span class="badge badge-success" *ngIf="i.statutTache==='Termine'">{{i.statutTache}}</span>
                            <span class="badge badge-danger" *ngIf="i.statutTache==='Non Commense'">{{i.statutTache}}</span>
                            <span class="badge badge-info" *ngIf="i.statutTache==='Acheve'">{{i.statutTache}}</span>
                          </td>
                          <td>
                            {{i.pourcentageTache}}<span style="font-size: 20px">%</span>
                            <div class="progress progress-xs progress-striped active">
                              <div class="progress-bar bg-primary" [ngStyle]="{ 'width' : i.pourcentageTache+'%'}"></div>
                            </div>
                          </td>
                          <td>{{i.dateDebutTache}}</td>
                          <td>{{i.dateFinTache}}</td>
                          <td>{{i.dateDebutPrevueTache}}</td>
                          <td>{{i.dateFinPrevueTache}}</td>
                          <td><a (click)="onTacheActivite(i.idTache)" class="btn btn-default" data-toggle="modal" data-target="#modalCommentaireForm" ><i class="fas fa-comments"></i></a></td>
                          <td *ngIf="userActive.manager"><a (click)="onDeleteTache(i.idTache)" class="btn btn-danger" ><i class="fa fa-trash"></i></a></td>
                          <td *ngIf="userActive.manager"><a type="button" (click)="onGetTache(i.idTache)" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateForm"><i class="fas fa-pen-square"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
        </div><!-- /.container-fluid -->
      </section>

    <section  class="content" >
      <div class="modal fade" id="modalCommentaireForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold"> <i class="fas fa-comments"></i> Commentaires Tache</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3" >
                    <div class="card direct-chat direct-chat-warning">
                      <div class="card-body">
                        <div class="direct-chat-messages" *ngIf="commentairesTache && userActive">
                          <ng-container *ngFor="let commentaireTache of commentairesTache">

                            <div class="direct-chat-msg right" *ngIf="commentaireTache?.auteurTache===userActive?.nomCollaborateur+' '+userActive.prenomCollaborateur">
                              <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-right">{{commentaireTache.auteurTache}}</span>
                                <span class="direct-chat-timestamp float-left">{{commentaireTache.dateCommentaireTache}}</span>
                              </div>
                              <ngx-avatar class="direct-chat-img" size="40" name="{{commentaireTache.auteurTache}}"></ngx-avatar>
                              <!-- <img class="direct-chat-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="message user image"> -->
                              <div class="direct-chat-text">{{commentaireTache.commentaireTache}}</div>
                            </div>

                            <div class="direct-chat-msg" *ngIf="commentaireTache?.auteurTache!=userActive?.nomCollaborateur+' '+userActive.prenomCollaborateur">
                              <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-left">{{commentaireTache.auteurTache}}</span>
                                <span class="direct-chat-timestamp float-right">{{commentaireTache.dateCommentaireTache}}</span>
                              </div>
                              <ngx-avatar class="direct-chat-img" size="40" name="{{commentaireTache.auteurTache}}"></ngx-avatar>
                              <!-- <img class="direct-chat-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="message user image"> -->
                              <div class="direct-chat-text">{{commentaireTache.commentaireTache}}</div>
                            </div>

                          </ng-container>

                        </div>
                      </div>
                      <div class="card-footer">
                        <form #form="ngForm" (ngSubmit)="onAddNewCommentaireTache(form.value, userActive.idCollaborateur)">
                          <div class="input-group">
                            <input ngModel type="text" name="commentaireTache" placeholder="Tapez un message ..." class="form-control" >
                            <span class="input-group-append">
                              <input type="submit" class="btn btn-warning" value="Envoyer" data-toggle="modal" data-target="#modalCommentaireForm">
                            </span>
                          </div>
                        </form>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </section>
  </div>
</section>
</div>
<!-- /.content-wrapper -->
