  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" *ngIf="app.isLoggedIn?'continue':this.router.navigateByUrl('accueil')">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>collaborateurs</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a >Accueil</a></li>
              <li class="breadcrumb-item active">collaborateurs</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="text-center">
            <a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm"><i class="fas fa-plus"></i>Ajouter un nouveau collaborateur</a>
        </div>
        <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-plus-square"></i>Ajouter un nouveau collaborateur</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  <form  #f="ngForm" (ngSubmit)="onAddNewCollaborateur(f.value)">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Matricule </label>
                          <input type="number"  class="form-control validate" name="matriculeCollaborateur" ngModel>
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Nom </label>
                            <input type="text"  class="form-control validate" name="nomCollaborateur" ngModel>
                        </div>
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Prenom </label>
                          <input type="text"  class="form-control validate" name="prenomCollaborateur" ngModel>
                        </div>
                        <div class="md-form mb-5">

                          <label data-error="wrong" data-success="right">Email </label>
                          <input type="email"  class="form-control validate" name="emailCollaborateur" ngModel>
                        </div>
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Telephone </label>
                          <input type="number"  class="form-control validate" name="telephoneCollaborateur" ngModel>
                        </div>
                        <div class="md-form mb-4">
                            <label data-error="wrong" data-success="right">Date de naissance</label>
                            <input type="date"  class="form-control validate" name="dateNaisCollaborateur" ngModel>
                        </div>
                        <div class="md-form mb-4">
                          <label data-error="wrong" data-success="right">Lien de naissance</label>
                          <input type="text"  class="form-control validate" name="lieuNaisCollaborateur" ngModel>
                        </div>
                        <div class="md-form mb-4">
                          <label data-error="wrong" data-success="right">Adresse</label>
                          <input type="text"  class="form-control validate" name="adresseCollaborateur" ngModel>
                        </div>
                        <div class="md-form mb-4">
                          <label data-error="wrong" data-success="right">Photo</label>
                          <input type="file"  class="form-control validate" name="photoCollaborateur" ngModel>
                        </div>
                        <div class="md-form mb-5" *ngIf="fonctions">
                          <label data-error="wrong" data-success="right" >Fonction </label>
                            <span class="form-inline" >
                                <select class="custom-select" (change)="onSelectedFonction($event.target.value)">
                                  <option value="" disabled selected >Choisir une fonciton</option>
                                  <option *ngFor="let fonction of fonctions._embedded.fonctionses" [value]="fonction.idFonction" style="text-transform: uppercase;">{{fonction.abreviationFonction}}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer d-flex">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalSubscriptionForm">
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Modifier un Collaborateur</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <form *ngIf="collaborateur" #f="ngForm" (ngSubmit)="onUpdateCollaborateur(f.value, collaborateur.idCollaborateur)">
                  <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                      <label data-error="wrong" data-success="right">Matricule </label>
                      <input type="number"  class="form-control validate" name="matriculeCollaborateur" ngModel [(ngModel)]="collaborateur.matriculeCollaborateur">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Nom </label>
                        <input type="text"  class="form-control validate" name="nomCollaborateur" ngModel [(ngModel)]="collaborateur.nomCollaborateur">
                    </div>
                    <div class="md-form mb-5">
                      <label data-error="wrong" data-success="right">Prenom </label>
                      <input type="text"  class="form-control validate" name="prenomCollaborateur" ngModel [(ngModel)]="collaborateur.prenomCollaborateur">
                    </div>
                    <div class="md-form mb-5">

                      <label data-error="wrong" data-success="right">Email </label>
                      <input type="email"  class="form-control validate" name="emailCollaborateur" ngModel [(ngModel)]="collaborateur.emailCollaborateur">
                    </div>
                    <div class="md-form mb-5">
                      <label data-error="wrong" data-success="right">Telephone </label>
                      <input type="number"  class="form-control validate" name="telephoneCollaborateur" ngModel [(ngModel)]="collaborateur.telephoneCollaborateur">
                    </div>
                    <div class="md-form mb-4">
                        <label data-error="wrong" data-success="right">Date de naissance</label>
                        <input type="date"  class="form-control validate" name="dateNaisCollaborateur" ngModel [(ngModel)]="collaborateur.dateNaisCollaborateur">
                    </div>
                    <div class="md-form mb-4">
                      <label data-error="wrong" data-success="right">Lien de naissance</label>
                      <input type="text"  class="form-control validate" name="lieuNaisCollaborateur" ngModel [(ngModel)]="collaborateur.lieuNaisCollaborateur">
                    </div>
                    <div class="md-form mb-4">
                      <label data-error="wrong" data-success="right">Adresse</label>
                      <input type="text"  class="form-control validate" name="adresseCollaborateur" ngModel [(ngModel)]="collaborateur.adresseCollaborateur">
                    </div>
                    <div class="md-form mb-4">
                      <label data-error="wrong" data-success="right">Photo</label>
                      <ngx-avatar size="40" name="{{collaborateur?.nomCollaborateur}}" src="{{collaborateur.photoCollaborateur}}"></ngx-avatar>
                      <input type="file"  class="form-control validate" name="photoCollaborateur" ngModel>
                    </div>
                    <div class="md-form mb-4 d-none">
                      <label data-error="wrong" data-success="right">User</label>
                      <input type="radio"  class="form-control validate" name="user" ngModel [(ngModel)]="collaborateur.user">
                    </div>
                    <div class="md-form mb-4 d-none">
                      <label data-error="wrong" data-success="right">Manager</label>
                      <input type="radio"  class="form-control validate" name="manager" ngModel [(ngModel)]="collaborateur.manager">
                    </div>
                    <div class="md-form mb-5" *ngIf="fonctions">
                      <label data-error="wrong" data-success="right" >Fonction </label>
                        <span class="form-inline" >
                            <select class="custom-select" (change)="onSelectedFonction($event.target.value)">
                              <option value="" disabled selected >Choisir une fonciton</option>
                              <option *ngFor="let fonction of fonctions._embedded.fonctionses" [value]="fonction.idFonction" style="text-transform: uppercase;">{{fonction.abreviationFonction}}</option>
                            </select>
                        </span>
                    </div>
                  </div>
                  <div class="modal-footer d-flex" >
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                      <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUpdateForm">
                  </div>
                </form>
              </div>
          </div>
        </div>

        <div class="modal fade" id="modalUserForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Ajouter un utilisateur</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <form *ngIf="collaborateur" #f="ngForm" (ngSubmit)="onAddUser(f.value.username, collaborateur.emailCollaborateur, f.value.password)">
                  <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                      <label data-error="wrong" data-success="right">Login </label>
                      <input type="text"  class="form-control validate" name="username" ngModel required minlength="3" maxlength="20">
                    </div>
                    <div class="md-form mb-5">
                      <label data-error="wrong" data-success="right">Password </label>
                      <input type="password"  class="form-control validate" name="password" ngModel required minlength="6">
                    </div>
                    <div class="md-form mb-5" *ngIf="roles">
                      <label data-error="wrong" data-success="right" >Role </label>
                        <span class="form-inline" >
                            <select class="custom-select" (change)="onSelectedRole($event.target.value)">
                              <option value="" disabled selected >Choisir un profil</option>
                              <option *ngFor="let role of roles" [value]="role" style="text-transform: uppercase;">{{role}}</option>
                            </select>
                        </span>
                    </div>
                  </div>
                  <div class="modal-footer d-flex" >
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                      <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUserForm">
                  </div>
                </form>
              </div>
          </div>
        </div>
    </section>
<!-- /.content -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">

            <!-- /.card-header -->
            <div class="card-body table-responsive">
              <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Matricule</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Lien de naissance</th>
                    <th scope="col">Adresse</th>
                    <!-- <th>Fonction</th>     -->
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <!-- <th></th>                                 -->
                  </tr>
                </thead>
                <tbody *ngIf="collaborateurs">
                  <tr *ngFor="let i of collaborateurs; let j=index;">
                    <th scope="row">{{j+1}}</th>
                    <td><ngx-avatar size="40" name="{{i.nomCollaborateur}}" src="{{i.photoCollaborateur}}"></ngx-avatar></td>
                    <td>{{i.matriculeCollaborateur}}</td>
                    <td>{{i.nomCollaborateur}}</td>
                    <td>{{i.prenomCollaborateur}}</td>
                    <td>{{i.emailCollaborateur}}</td>
                    <td>{{i.telephoneCollaborateur}}</td>
                    <td>{{i.dateNaisCollaborateur}}</td>
                    <td>{{i.lieuNaisCollaborateur}}</td>
                    <td>{{i.adresseCollaborateur}}</td>
                    <!-- <span *ngIf="idCollaborateur!=i.idCollaborateur?onGetCollaborateurFonction(i.idCollaborateur):''"></span> -->
                    <!-- <td >{{collaborateurFonction.abreviationFonction}}</td> -->
                    <td><a (click)="onDeleteCollaborateur(i.idCollaborateur)" class="btn btn-danger" ><i class="fas fa-trash"></i></a></td>
                    <td><a (click)="onGetCollaborateur(i.idCollaborateur)" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateForm"><i class="fas fa-pen-square"></i></a></td>
                    <td><a *ngIf="!i.user" (click)="onGetCollaborateur(i.idCollaborateur)" class="btn btn-info" data-toggle="modal" data-target="#modalUserForm"><i class="fas fa-plus"></i></a></td>
                    <!-- <td><a routerLink="/mestaches" class="btn btn-success float-end" (click)="onCollaborateurActive(i.idCollaborateur)"><i class="fas fa-angle-double-right"></i></a></td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->


</div>
