<!-- Content Wrapper. Contains page content -->
<div  class="content-wrapper" *ngIf="app.isLoggedIn?'continue':this.router.navigateByUrl('accueil')">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Instances</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a >Accueil</a></li>
              <li class="breadcrumb-item active">Instances</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="card card-container card-outline card-success" *ngIf="instance">
            <div class="card-header text-center">
              <img src="../../../favicon.ico" width="100" height="100">
            </div>
            <div class="card-body row mx-3">
              <div class="col-xs-12 col-lg-6">
                <div class="mb-2">                            
                    <label >Abreviation: </label>
                    <span class="card-text ms-2">{{instance.abreviatonInstance}}</span>
                </div>  
                <div class="mb-2">                            
                    <label >Designation: </label>
                    <span class="card-text ms-2">{{instance.designationInstance}}</span>
                </div>  
                <div class="mb-2">                            
                    <label >Description: </label>
                    <span class="card-text ms-2">{{instance.descriptionInstance}}</span>
                </div>  
                <div class="mb-2">                            
                    <label >Telephone: </label>
                    <span class="card-text ms-2">{{instance.telephoneInstance}}</span>
                </div>  
                <div class="mb-2">                            
                    <label >Site Web: </label>
                    <span class="card-text ms-2">{{instance.siteWebInstance}}</span>
                </div>  
              </div>
              <div class="col-xs-12 col-lg-6">
                <div class="mb-2">                            
                    <label >Adresse: </label>
                    <span class="card-text ms-2">{{instance.adresseInstance}}</span>
                </div>  
                <div class="mb-2">                            
                    <label >Email: </label>
                    <span class="card-text ms-2">{{instance.emailInstance}}</span>
                </div>  
                <div class="mb-2">                            
                    <label >Fax: </label>
                    <span class="card-text ms-2">{{instance.faxInstance}}</span>
                </div> 
                <div class="mb-2">                            
                    <label >B.P: </label>
                    <span class="card-text ms-2">{{instance.bpinstance}}</span>
                </div>    
              </div>                                   
            </div>
            <div class="card-footer">
                <button class="btn btn-primary float-end" data-toggle="modal" data-target="#modalUpdateForm"><i class="fa fa-pen-square"></i></button>
                <button class="btn btn-danger float-start" (click)="onDeleteInstance(instance.idInstance)"><i class="fa fa-trash"></i></button>
            </div>
          </div>
    </section>
      <!-- Main content -->
      <section class="content">
        <!-- <div class="text-center">
            <a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm"><i class="fas fa-plus"></i> Ajouter une nouvelle Instance</a>
        </div> -->
        <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-plus-square"></i>Ajouter une nouvelle instance</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  <form  #f="ngForm" (ngSubmit)="onAddNewInstance(f.value)">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">                        
                           <label data-error="wrong" data-success="right">Abreviation</label>
                            <input type="text" class="form-control validate" name="abreviatonInstance" ngModel>
                        </div>
                        <div class="md-form mb-5">                        
                            <label data-error="wrong" data-success="right" >Designation</label>
                            <input type="text"  class="form-control validate" name="designationInstance" ngModel>
                        </div>
                        <div class="md-form mb-5">                        
                            <label data-error="wrong" data-success="right" >Description</label>
                            <input type="text"  class="form-control validate" name="descriptionInstance" ngModel>
                        </div>
                        <div class="md-form mb-5">                        
                            <label data-error="wrong" data-success="right" >Telephone</label>
                            <input type="number"  class="form-control validate" name="telephoneInstance" ngModel>
                        </div>
                        <div class="md-form mb-5">                        
                            <label data-error="wrong" data-success="right" >Site Web</label>
                            <input type="text"  class="form-control validate" name="siteWebInstance" ngModel>
                        </div>
                        <div class="md-form mb-5">                        
                            <label data-error="wrong" data-success="right" >Adresse</label>
                            <input type="text"  class="form-control validate" name="adresseInstance" ngModel>
                        </div>
                        <div class="md-form mb-5">                        
                            <label data-error="wrong" data-success="right" >Email</label>
                            <input type="email"  class="form-control validate" name="emailInstance" ngModel>
                        </div>
                        <div class="md-form mb-5">                        
                            <label data-error="wrong" data-success="right" >Fax</label>
                            <input type="text"  class="form-control validate" name="faxInstance" ngModel>
                        </div>
                        <div class="md-form mb-5">                        
                            <label data-error="wrong" data-success="right" >B.P</label>
                            <input type="text"  class="form-control validate" name="bpinstance" ngModel>
                        </div>                                     
                    </div>
                    <div class="modal-footer d-flex">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalSubscriptionForm">
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Modifier une Instance</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <form *ngIf="instance" #f="ngForm" (ngSubmit)="onUpdateInstance(f.value, instance.idInstance)">
                  <div class="modal-body mx-3">
                    <div class="md-form mb-5">                        
                      <label data-error="wrong" data-success="right">Abreviation</label>
                      <input type="text" class="form-control validate" name="abreviatonInstance" ngModel [(ngModel)]="instance.abreviatonInstance">
                    </div>
                    <div class="md-form mb-5">                        
                      <label data-error="wrong" data-success="right" >Designation</label>
                      <input type="text"  class="form-control validate" name="designationInstance" ngModel [(ngModel)]="instance.designationInstance">
                    </div>
                    <div class="md-form mb-5">                        
                      <label data-error="wrong" data-success="right" >Description</label>
                      <input type="text"  class="form-control validate" name="descriptionInstance" ngModel [(ngModel)]="instance.descriptionInstance">
                    </div>
                    <div class="md-form mb-5">                        
                        <label data-error="wrong" data-success="right" >Telephone</label>
                        <input type="number"  class="form-control validate" name="telephoneInstance" ngModel [(ngModel)]="instance.telephoneInstance">
                    </div>
                    <div class="md-form mb-5">                        
                        <label data-error="wrong" data-success="right" >Site Web</label>
                        <input type="text"  class="form-control validate" name="siteWebInstance" ngModel [(ngModel)]="instance.siteWebInstance">
                    </div>
                    <div class="md-form mb-5">                        
                        <label data-error="wrong" data-success="right" >Adresse</label>
                        <input type="text"  class="form-control validate" name="adresseInstance" ngModel [(ngModel)]="instance.adresseInstance">
                    </div>
                    <div class="md-form mb-5">                        
                        <label data-error="wrong" data-success="right" >Email</label>
                        <input type="text"  class="form-control validate" name="emailInstance" ngModel [(ngModel)]="instance.emailInstance">
                    </div>
                    <div class="md-form mb-5">                        
                        <label data-error="wrong" data-success="right" >Fax</label>
                        <input type="text"  class="form-control validate" name="faxInstance" ngModel [(ngModel)]="instance.faxInstance">
                    </div>
                    <div class="md-form mb-5">                        
                        <label data-error="wrong" data-success="right" >B.P</label>
                        <input type="text"  class="form-control validate" name="bpinstance" ngModel [(ngModel)]="instance.bpinstance">
                    </div>
                  </div>
                  <div class="modal-footer d-flex" >
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                      <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUpdateForm">
                  </div>
                </form>
              </div>
          </div>
        </div>
    </section>
    <!-- /.content -->
    <!-- Main content -->
  <!--  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <table datatable [dtOptions]="dtOptions"  class="table table-bordered table-striped table-responsive">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Abreviation</th>
                      <th>Designation</th>
                      <th>Description</th>
                      <th>Telephone</th>
                      <th>Site Web</th>
                      <th>Adresse</th>
                      <th>Email</th>
                      <th>Fax</th>
                      <th>B.P</th>
                      <th></th>    
                      <th></th>                                
                    </tr>
                  </thead>
                  <tbody *ngIf="instances">
                    <tr *ngFor="let i of instances._embedded.instanceses; let j=index>
                      <td>{{j+1}}</td>
                      <td>{{i.abreviatonInstance}}</td>
                      <td>{{i.designationInstance}}</td>
                      <td>{{i.descriptionInstance}}</td>                     
                      <td>{{i.telephoneInstance}}</td>                     
                      <td>{{i.siteWebInstance}}</td>                     
                      <td>{{i.adresseInstance}}</td>                     
                      <td>{{i.emailInstance}}</td>                     
                      <td>{{i.faxInstance}}</td>                     
                      <td>{{i.bpinstance}}</td>                     
                      <td><a (click)="onDeleteInstance(i.idInstance)" class="btn btn-danger" ><i class="fa fa-trash"></i></a></td>
                      <td><a (click)="onGetInstance(i.idInstance)" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateForm" ><i class="fa fa-pen-square"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  -->
</div>
