  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" *ngIf="app.isLoggedIn?'continue':this.router.navigateByUrl('accueil')">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Equipes</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a >Accueil</a></li>
              <li class="breadcrumb-item active">equipes</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="text-center">
            <a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm"><i class="fas fa-plus"></i>Ajouter une nouvelle Entie</a>
        </div>
        <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-plus-square"></i>Ajouter une nouvelle Entie</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  <form  #f="ngForm" (ngSubmit)="onUpdateActivite(f.value.idEntite)">
                    <div class="modal-body mx-3">
                      <div class="md-form mb-5">                        
                        <label data-error="wrong" data-success="right" >Entites </label>               
                          <span class="form-inline" >                     
                              <select name="idEntite" class="custom-select" *ngIf="entites" ngModel>
                                <ng-container *ngFor="let entite of entites">
                                  <option *ngIf="entite.entiteParent!=null" [value]="entite.idEntite"><input type="checkbox" checked> {{entite.abreviationEntite}}</option>
                                </ng-container>
                              </select>
                          </span> 
                      </div>                       
                    </div>
                    <div class="modal-footer d-flex">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalSubscriptionForm">
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </section>
  <!-- /.content -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Les Entites</h3>          
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>              
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table datatable [dtOptions]="dtOptions"  class="table table-warning">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Abreviation</th>    
                    <th scope="col"></th>   
                  </tr>
                </thead>
                <tbody *ngIf="entitesActivite">
                  <tr *ngFor="let i of entitesActivite; let j=index;">
                    <th scope="row">{{j+1}}</th>
                    <td>{{i.abreviationEntite}}</td>                                     
                    <td><a (click)="onUpdateEntitesActivite(i.idEntite)" class="btn btn-danger" ><i class="fas fa-trash"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->


  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Equipe</h3>          
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>              
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table datatable [dtOptions]="dtOptions"  class="table table-warning">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Photo</th>    
                    <th scope="col">Matricule</th>    
                    <th scope="col">Nom</th>   
                    <th scope="col">Prenom</th>  
                    <th scope="col">Manager</th>   
                    <th scope="col"></th>   
                    <th scope="col">Taches</th>                        
                  </tr>
                </thead>
                <tbody *ngIf="collaborateursActivite">
                  <tr *ngFor="let i of collaborateursActivite; let j=index;">
                    <th scope="row">{{j+1}} </th>
                    <td><ngx-avatar size="40" name="{{i.nomCollaborateur}}" src="{{i.photoCollaborateur}}"></ngx-avatar></td>
                    <td>{{i.matriculeCollaborateur}}</td>                                     
                    <td>{{i.nomCollaborateur}}</td>                                     
                    <td>{{i.prenomCollaborateur}}</td>                                     
                    <td *ngIf="!i.manager"><a (click)="onUpdateCollaborateurManager(i.idCollaborateur, true)" class="btn btn-default" ><i class="fas fa-star"></i></a></td>
                    <td *ngIf="i.manager"><a (click)="onUpdateCollaborateurManager(i.idCollaborateur, false)" class="btn btn-warning" ><i class="fas fa-star"></i></a></td>
                    <td><a (click)="onDeleteCollaborateur(i.idCollaborateur)" class="btn btn-danger" ><i class="fas fa-trash"></i></a></td>
                    <td><a routerLink="/taches" class="btn btn-success float-end" (click)="onCollaborateurActive(i.idCollaborateur)"><i class="fas fa-angle-double-right"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
    
</div>