 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mes Taches</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a >Accueil</a></li>
              <li class="breadcrumb-item active">mestaches</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body p-0 table-responsive">
                <table class="table table-striped" datatable [dtOptions]="dtOptions">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Designation</th>
                      <th scope="col">Description</th>
                      <th scope="col">Observation</th>
                      <th scope="col">Statut</th>
                      <th scope="col">Pourcentage</th>
                      <th scope="col">Date de debut</th>
                      <th scope="col">Date de Fin</th>
                      <th scope="col">Date de debut prevue</th>
                      <th scope="col">Date de Fin prevue</th>                    
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="mesTaches">
                      <tr *ngFor="let i of mesTaches._embedded.tacheses;let j=index">
                        <th scope="row">{{j+1}}</th>
                        <td>{{i.designationTache}}</td>
                        <td>{{i.descriptionTache}}</td>
                        <td>{{i.observationTache}}</td>
                        <td>
                          <span class="badge badge-warning" *ngIf="i.statutTache==='En Cours'">{{i.statutTache}}</span>
                          <span class="badge badge-success" *ngIf="i.statutTache==='Termine'">{{i.statutTache}}</span>
                          <span class="badge badge-danger" *ngIf="i.statutTache==='Non Commense'">{{i.statutTache}}</span>
                          <span class="badge badge-info" *ngIf="i.statutTache==='Acheve'">{{i.statutTache}}</span>
                        </td>
                        <td>
                          {{i.pourcentageTache}}<span style="font-size: 20px">%</span>
                          <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar bg-primary" s [ngStyle]="{ 'width' : i.pourcentageTache+'%'}"></div>
                          </div>
                        </td>   
                        <td>{{i.dateDebutTache}}</td>
                        <td>{{i.dateFinTache}}</td>
                        <td>{{i.dateDebutPrevueTache}}</td>
                        <td>{{i.dateFinPrevueTache}}</td>         
                        <td><a (click)="onGetTache(i.idTache)" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateForm" ><i class="fas fa-pen-square"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div><!-- /.container-fluid -->
      
      <div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Modifier une Tache</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form *ngIf="tache"  #f="ngForm" (ngSubmit)="onUpdateTache(f.value, tache.idTache)">
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Designation </label>
                        <input type="text"  class="form-control validate" name="designationTache" ngModel [(ngModel)]="tache.designationTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Description </label>
                        <input type="text"  class="form-control validate" name="descriptionTache" ngModel [(ngModel)]="tache.descriptionTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Observation </label>
                        <input type="text"  class="form-control validate" name="observationTache" ngModel [(ngModel)]="tache.observationTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Pourcentage </label>
                        <input type="number"  class="form-control validate" name="pourcentageTache" ngModel [(ngModel)]="tache.pourcentageTache">
                    </div>
                    <div class="md-form mb-5">                        
                        <label data-error="wrong" data-success="right" >Statut </label>               
                          <span class="form-inline" >                     
                              <select name="statutTache" ngModel [(ngModel)]="tache.statutTache" class="custom-select">
                                <option disabled selected >Choisir un statut</option>                            
                                <option value="Non Commense">Non Commense</option>                            
                                <option value="En Cours">En Cours</option>                            
                                <option value="Termine">Termine</option>                            
                                <option value="Acheve">Acheve</option>                            
                              </select>
                          </span> 
                    </div>                                 
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de debut </label>
                        <input type="date"  class="form-control validate" name="dateDebutTache" ngModel [(ngModel)]="tache.dateDebutTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de Fin </label>
                        <input type="date"  class="form-control validate" name="dateFinTache" ngModel [(ngModel)]="tache.dateFinTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de debut prevue </label>
                        <input type="date"  class="form-control validate" name="dateDebutPrevueTache" ngModel [(ngModel)]="tache.dateDebutPrevueTache">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de Fin prevue </label>
                        <input type="date"  class="form-control validate" name="dateFinPrevueTache" ngModel [(ngModel)]="tache.dateFinPrevueTache">
                    </div>
                </div>
                <div class="modal-footer d-flex" >
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUpdateForm">
                </div>
                </form>
            </div>
        </div>
      </div>
    </section>
    
  </div>
  <!-- /.content-wrapper -->