<!-- Content Wrapper. Contains page content -->
<div>
  <!-- Content Header (Page header) -->
   <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">         
        </div>
      </div>
    </div>
  </section> 

  <section class="content">
    <div class="col-md-12">
      <div class="card card-container card-outline card-success">
        <div class="card-header text-center">
          <a class="h2"><b>ASPAD</b> {{ AbreviationInstance }}</a>
        </div>
        <i class=" profile-img-card fas fa-user fa-5x" id="profile-img"></i>
        <!-- <img class="profile-img-card" id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/> -->
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" *ngIf="!isLoggedIn" name="form" novalidate>
          <div class="form-group">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input #username="ngModel" [(ngModel)]="form.username" class="form-control" name="username" required type="text" placeholder="{{ 'Username' | translate }}"/>
              </div>
              <div *ngIf="username.errors && f.submitted" class="alert alert-danger" role="alert">Username is required!</div>
          </div>
          <div class="form-group">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input #password="ngModel" [(ngModel)]="form.password" class="form-control" minlength="6" name="password" required type="password" placeholder="{{ 'Password' | translate }}"/>          
              </div>
              <div *ngIf="password.errors && f.submitted" class="alert alert-danger" role="alert">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
          </div>
          <div class="form-group">
            <button class="btn btn-block mt-2" style="background-color: #00A95C;color: white;">{{ 'Login' | translate }}</button>
          </div>
          <div class="form-group">
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">Login failed: {{ errorMessage }}</div>
          </div>
        </form>
        <div *ngIf="isLoggedIn?this.router.navigateByUrl('tableaudebord'):'continue'" class="alert alert-default">{{ roles }}</div>
      </div>
    </div>
  </section>
</div>