<div class="wrapper">
  <app-navbar></app-navbar>  
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="../assets/adminlte/dist/img/preloader.gif" alt="AdminLTELogo" height="60" width="60">
  </div>
  <app-asidenav></app-asidenav>  
  <router-outlet></router-outlet>

</div>
<!-- ./wrapper -->
<app-footer></app-footer>


