  <!-- Content Wrapper. Contains page content -->
  <div  class="content-wrapper" *ngIf="planActions">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Plan d'action</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a>Accueil</a></li>
              <li class="breadcrumb-item active">PlanAction</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content" *ngFor="let i of planActions">
        <div class="card card-container card-outline card-success" *ngIf="i.statutPlanAction === 'En Cours'">
            <div class="card-header text-center">
                <h4>Plan d'action {{i.statutPlanAction}}</h4>
            </div>
            <div class="card-body row mx-3">
              <div class="col-xs-12 col-lg-6">
                <div class="mb-2">                            
                    <label >Designation: </label>
                    <span class="card-text ms-2">{{i.designationPlanAction}}</span>
                </div>  
                <div class="mb-2">                            
                    <label >Description: </label>
                    <span class="card-text ms-2">{{i.descriptionPlanAction}}</span>
                </div>  
                <div class="mb-2">                            
                    <label >Statut: </label>
                    <span class="card-text ms-2">{{i.statutPlanAction}}</span>
                </div>  
              </div>
              <div class="col-xs-12 col-lg-6">
                <div class="mb-2">                            
                    <label >Date de debut prevue: </label>
                    <span class="card-text ms-2">{{i.dateDebutPrevuePlanAction}}</span>
                </div>  
                <div class="mb-2">                            
                    <label >Date de fin prevue: </label>
                    <span class="card-text ms-2">{{i.dateFinPrevuePlanAction}}</span>
                </div>  
                <div class="mb-2">                            
                    <label >Date de debut: </label>
                    <span class="card-text ms-2">{{i.dateDebutPlanAction}}</span>
                </div>  
                <div class="mb-2">                            
                    <label >Date de Fin: </label>
                    <span class="card-text ms-2">{{i.dateFinPlanAction}}</span>
                </div>   
              </div>                       
            </div>
            <div class="card-footer">
                <button class="btn btn-primary float-start"  (click)="onGetPlanAction(i.idPlanAction)" data-toggle="modal" data-target="#modalUpdateForm"><i class="fa fa-pen-square"></i></button>
                <a routerLink="/axes" class="btn btn-success float-end" (click)="onPlanActionActive(i.idPlanAction)"><i class="fas fa-angle-double-right"></i></a>
            </div>
          </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="text-center">
            <a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm"><i class="fas fa-plus"></i>Creer un plan d'action</a>
        </div>
        <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-plus-square"></i>Creer un plan d'action</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  <form  #f="ngForm" (ngSubmit)="onAddNewPlanAction(f.value)">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Designation </label>
                          <input type="text"  class="form-control validate" name="designationPlanAction" ngModel>
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Description </label>
                            <input type="text"  class="form-control validate" name="descriptionPlanAction" ngModel>
                        </div>
                        <div class="md-form mb-5">                        
                            <label data-error="wrong" data-success="right" >Statut </label>               
                              <span class="form-inline" >                     
                                  <select name="statutPlanAction" ngModel class="custom-select">
                                    <option value="" disabled >Choisir un statut</option>                            
                                    <option value="Non Commense" selected >Non Commense</option>                            
                                    <option value="En Cours">En Cours</option>                            
                                    <option value="Termine">Termine</option>                            
                                    <option value="Acheve">Acheve</option>                            
                                  </select>
                              </span> 
                        </div>   
                        <!-- <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Statut </label>
                            <input type="text"  class="form-control validate" name="statutPlanAction" ngModel>
                        </div> -->
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Date de debut prevue </label>
                            <input type="date"  class="form-control validate" name="dateDebutPrevuePlanAction" ngModel>
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Date de fin prevue </label>
                            <input type="date"  class="form-control validate" name="dateFinPrevuePlanAction" ngModel>
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Date de debut </label>
                            <input type="date"  class="form-control validate" name="dateDebutPlanAction" ngModel>
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Date de Fin </label>
                            <input type="date"  class="form-control validate" name="dateFinPlanAction" ngModel>
                        </div>
                    </div>
                    <div class="modal-footer d-flex">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalSubscriptionForm">
                    </div>
                  </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Modifier le plan d'action</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <form *ngIf="PlanAction"  #f="ngForm" (ngSubmit)="onUpdatePlanAction(f.value, PlanAction.idPlanAction)">
                  <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Designation </label>
                        <input type="text"  class="form-control validate" name="designationPlanAction" ngModel [(ngModel)]="PlanAction.designationPlanAction">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Description </label>
                        <input type="text"  class="form-control validate" name="descriptionPlanAction" ngModel [(ngModel)]="PlanAction.descriptionPlanAction">
                    </div>
                    <div class="md-form mb-5">                        
                        <label data-error="wrong" data-success="right" >Statut </label>               
                          <span class="form-inline" >                     
                              <select name="statutPlanAction" ngModel [(ngModel)]="PlanAction.statutPlanAction" class="custom-select">
                                <option disabled selected >Choisir un statut</option>                            
                                <option value="Non Commense">Non Commense</option>                            
                                <option value="En Cours">En Cours</option>                            
                                <option value="Termine">Termine</option>                            
                                <option value="Acheve">Acheve</option>                            
                              </select>
                          </span> 
                    </div>   
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de debut prevue </label>
                        <input type="date"  class="form-control validate" name="dateDebutPrevuePlanAction" ngModel [(ngModel)]="PlanAction.dateDebutPrevuePlanAction">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de fin prevue </label>
                        <input type="date"  class="form-control validate" name="dateFinPrevuePlanAction" ngModel [(ngModel)]="PlanAction.dateFinPrevuePlanAction">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de debut </label>
                        <input type="date"  class="form-control validate" name="dateDebutPlanAction" ngModel [(ngModel)]="PlanAction.dateDebutPlanAction">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Date de Fin </label>
                        <input type="date"  class="form-control validate" name="dateFinPlanAction" ngModel [(ngModel)]="PlanAction.dateFinPlanAction">
                    </div>                    
                  </div>
                  <div class="modal-footer d-flex" >
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                      <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUpdateForm">
                  </div>
                </form>
              </div>
          </div>
        </div>
    </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            
            <!-- /.card-header -->
            <div class="card-body table-responsive">
              <table datatable [dtOptions]="dtOptions"  class="table table-bordered table-striped">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Description</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Date de debut prevue</th>
                    <th scope="col">Date de fin prevue</th>
                    <th scope="col">Date de debut</th>
                    <th scope="col">Date de Fin</th>
                    <th></th>
                    <th></th>
                    <th scope="col">Axes</th>
                  </tr>
                </thead>
                <tbody *ngIf="planActions">
                  <ng-container *ngFor="let i of planActions; let j =index">
                  <tr *ngIf="i.statutPlanAction != 'En Cours'">
                    <th scope="row">{{j+1}}</th>
                    <td>{{i.designationPlanAction}}</td>
                    <td>{{i.descriptionPlanAction}}</td>
                    <td>{{i.statutPlanAction}}</td>
                    <td>{{i.dateDebutPrevuePlanAction}}</td>
                    <td>{{i.dateFinPrevuePlanAction}}</td>
                    <td>{{i.dateDebutPlanAction}}</td>
                    <td>{{i.dateFinPlanAction}}</td>
                    <td><a type="button" (click)="onDeletePlanAction(i.idPlanAction)" class="btn btn-danger" ><i class="fa fa-trash"></i></a></td>
                    <td><a type="button" (click)="onGetPlanAction(i.idPlanAction)" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateForm"><i class="fa fa-pen-square"></i></a></td>                    
                    <td><a routerLink="/axes" class="btn btn-success float-end" (click)="onPlanActionActive(i.idPlanAction)"><i class="fas fa-angle-double-right"></i></a></td>
                  </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
</div>
