  <!-- Content Wrapper. Contains page content -->
  <div  class="content-wrapper" *ngIf="app.isLoggedIn?'continue':this.router.navigateByUrl('accueil')">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Axes</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a >Accueil</a></li>
              <li class="breadcrumb-item active">axes</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="text-center">
            <a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm"><i class="fas fa-plus"></i>Ajouter une nouvelle axe</a>
        </div>
        <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-plus-square"></i>Ajouter un nouveau axe</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  <form  #f="ngForm" (ngSubmit)="onAddNewAxe(f.value)">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Designation </label>
                          <input type="text"  class="form-control validate" name="designationAxe" ngModel>
                        </div>
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right">Description </label>
                            <input type="text"  class="form-control validate" name="descriptionAxe" ngModel>
                        </div>
                        <div class="md-form mb-5">
                          <label data-error="wrong" data-success="right">Oservation </label>
                          <input type="text"  class="form-control validate" name="observationAxe" ngModel>
                        </div>
                    </div>
                    <div class="modal-footer d-flex">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalSubscriptionForm">
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Modifier un Axe</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <form *ngIf="axe"  #f="ngForm" (ngSubmit)="onUpdateAxe(f.value, axe.idAxe)">
                  <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                      <label data-error="wrong" data-success="right">Designation </label>
                      <input type="text"  class="form-control validate" name="designationAxe" ngModel [(ngModel)]="axe.designationAxe">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Description </label>
                        <input type="text"  class="form-control validate" name="descriptionAxe" ngModel [(ngModel)]="axe.descriptionAxe">
                    </div>
                    <div class="md-form mb-5">
                      <label data-error="wrong" data-success="right">Observation </label>
                      <input type="text"  class="form-control validate" name="observationAxe" ngModel [(ngModel)]="axe.observationAxe">
                    </div>
                  </div>
                  <div class="modal-footer d-flex" >
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                      <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUpdateForm">
                  </div>
                </form>
              </div>
          </div>
        </div>
    </section>
<!-- /.content -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            
            <!-- /.card-header -->
            <div class="card-body">
              <table datatable [dtOptions]="dtOptions"  class="table table-bordered table-striped">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Description</th>
                    <th scope="col">Observation</th>
                    <th scope="col"></th>
                    <th></th>
                    <th scope="col">Objectifs</th>
                  </tr>
                </thead>
                <tbody *ngIf="axes">
                  <tr *ngFor="let i of axes ; let j=index">
                    <th scope="row">{{j+1}}</th>
                    <td>{{i.designationAxe}}</td>
                    <td>{{i.descriptionAxe}}</td>
                    <td>{{i.observationAxe}}</td>
                    <td><a (click)="onDeleteAxe(i.idAxe)" class="btn btn-danger" ><i class="fa fa-trash"></i></a></td>
                    <td><a type="button" (click)="onGetAxe(i.idAxe)" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateForm"><i class="fas fa-pen-square"></i></a></td>
                    <td><a routerLink="/objectifs" class="btn btn-success float-end" (click)="onAxeActive(i.idAxe)"><i class="fas fa-angle-double-right"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
