<div *ngIf="app.isLoggedIn?this.router.navigateByUrl('tableaudebord'):'continue'">
<nav class="navbar navbar-expand-lg navbar-light" [ngStyle]="{'direction':direction}" style="color:white;background-color: #00A95C;border:1mm solid #D01C1F; border-left: transparent; border-right: transparent;">
    <div class="container-fluid text-white">
        <a class="navbar-brand pl-4" href="#">
            <img src="../favicon.ico" width="80" height="80" class="d-inline-block align-text-center">            
        </a>
        <span class="navbar-brand text-white" style="text-align: center; font-size: 2mm;font-weight: bold;width: fit-content;">
            {{ 'RÉPUBLIQUE ISLAMIQUE DE MAURITANIE' | translate }} <br>
            {{ 'Honneur - Fraternité - Justice' | translate }} 
            <hr style="border-top: 1px solid white;opacity: 0.7;">
            <span class="fs-6 d-block">
                {{ 'LE MINISTÈRE DE LA TRANSFORMATION NUMERIQUE' | translate }}</span>
                <span class="fs-6 d-block">
                    {{ 'DE L’INNOVATION' | translate }}</span>
                    <span class="fs-6 d-block">
                        {{ 'ET DE LA MODERNISATION DE L’ADMINISTRATION' | translate }}</span>
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mob-navbar" aria-label="Toggle">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mob-navbar">
            <div class="container d-flex">
                <a class="navbar-brand text-white"></a>                 
                <span class="form-inline">   
                    <select class="custom-select" (change)="app.useLanguage($event.target.value)">
                        <option value="ar" [selected] ="lang == 'ar'">AR</option>
                        <option value="fr" [selected] ="lang == 'fr'">FR</option>
                        <option value="en" [selected] ="lang == 'en'">EN</option>
                    </select>
                </span>
            </div>
        </div>
    </div>
</nav>

<div class="container bg-light">
    <header class="header">
        <div class="pt-5 text-center">
            <h1 style="font-weight: bold;font-family: monospace;text-transform: uppercase;">{{ 'Instances' | translate }}</h1>
          </div>
    </header>
    <section class="py-3">
        <div class="container px-4 px-lg-5 mt-5">
            <div *ngIf="instances" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-4" *ngFor="let i of instances._embedded.instanceses">
                    <div class="card h-100 w-500">
                        <!-- Product image-->
                        <img class="card-img-top" src="../favicon.ico" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" >{{ i.abreviatonInstance }}</h5>
                                <!-- Product price-->
                                <span>{{ i.designationInstance }}</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-3 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a routerLink="/login" (click)="onInstanceActive(i.idInstance, i.abreviatonInstance)"  class="btn btn-outline-dark mt-auto">{{ 'Login' | translate }}</a></div>
                        </div>
                    </div>
                </div>     
                <div class="col mb-5" *ngIf="!instances._embedded.instanceses.idInstance">
                    <div class="bg-success card h-100">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder" >{{ 'Creer une nouvelle Instance' | translate }}</h5>
                                <a class="btn btn-success" data-toggle="modal" data-target="#modalSubscriptionForm"><i class="fas fa-plus fa-8x"></i></a>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
    </section>
    <section class="content p-3"> 
        <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-plus-square"></i>{{ 'Creer une nouvelle Instance' | translate }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form  #f="ngForm" (ngSubmit)="onAddNewInstance(f.value.abreviatonInstance, f.value.designationInstance, f.value.descriptionInstance, f.value.telephoneInstance, f.value.siteWebInstance, f.value.adresseInstance, f.value.emailInstance, f.value.faxInstance, f.value.bpinstance, f.value.username, f.value.password)">
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">                        
                               <label data-error="wrong" data-success="right">{{ 'Abreviation' | translate }}</label>
                                <input type="text" class="form-control validate" name="abreviatonInstance" ngModel>
                            </div>
                            <div class="md-form mb-5">                        
                                <label data-error="wrong" data-success="right" >{{ 'Designation' | translate }}</label>
                                <input type="text"  class="form-control validate" name="designationInstance" ngModel>
                            </div>
                            <div class="md-form mb-5">                        
                                <label data-error="wrong" data-success="right" >{{ 'Description' | translate }}</label>
                                <input type="text"  class="form-control validate" name="descriptionInstance" ngModel>
                            </div>
                            <div class="md-form mb-5">                        
                                <label data-error="wrong" data-success="right" >{{ 'Telephone' | translate }}</label>
                                <input type="number"  class="form-control validate" name="telephoneInstance" ngModel>
                            </div>
                            <div class="md-form mb-5">                        
                                <label data-error="wrong" data-success="right" >{{ 'Site Web' | translate }}</label>
                                <input type="text"  class="form-control validate" name="siteWebInstance" ngModel>
                            </div>
                            <div class="md-form mb-5">                        
                                <label data-error="wrong" data-success="right" >{{ 'Adresse' | translate }}</label>
                                <input type="text"  class="form-control validate" name="adresseInstance" ngModel>
                            </div>
                            <div class="md-form mb-5">                        
                                <label data-error="wrong" data-success="right" >{{ 'Email' | translate }}</label>
                                <input type="email"  class="form-control validate" name="emailInstance" ngModel>
                            </div>
                            <div class="md-form mb-5">                        
                                <label data-error="wrong" data-success="right" >{{ 'Fax' | translate }}</label>
                                <input type="text"  class="form-control validate" name="faxInstance" ngModel>
                            </div>
                            <div class="md-form mb-5">                        
                                <label data-error="wrong" data-success="right" >{{ 'B.P' | translate }}</label>
                                <input type="text"  class="form-control validate" name="bpinstance" ngModel>
                            </div> 
                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right">{{ 'Login' | translate }} </label>
                                <input type="text"  class="form-control validate" name="username" ngModel required minlength="3" maxlength="20">
                            </div>                
                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right">{{ 'Mot de passe' | translate }}</label>
                                <input type="password"  class="form-control validate" name="password" ngModel required minlength="6">
                            </div>                                                 
                        </div>
                        <div class="modal-footer d-flex">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Fermer' | translate }}</button>
                            <input type="submit" class="btn btn-success" value="{{ 'Enregistrer' | translate }}"  data-toggle="modal" data-target="#modalSubscriptionForm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</div>