  <!-- Content Wrapper. Contains page content -->
  <div  class="content-wrapper" *ngIf="app.isLoggedIn?'continue':this.router.navigateByUrl('accueil')">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Entites</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a >Accueil</a></li>
              <li class="breadcrumb-item active">Entites</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

      <!-- Main content -->
      <section class="content">
        <div class="text-center">
            <a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm"><i class="fas fa-plus"></i>Ajouter une nouvelle Entite</a>
        </div>
        <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-plus-square"></i>Ajouter une nouvelle Entite</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                  <form  #f="ngForm" (ngSubmit)="onAddNewEntite(f.value.designationEntite, f.value.abreviationEntite, f.value.descriptionEntite, f.value.idEntiteParent)">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            
                            <label data-error="wrong" data-success="right" >Designation </label>
                            <input type="text"  class="form-control validate" name="designationEntite" ngModel>
                        </div>
                        <div class="md-form mb-5">
                          
                          <label data-error="wrong" data-success="right" >Abreviation </label>
                          <input type="text"  class="form-control validate" name="abreviationEntite" ngModel>
                        </div>
                        <div class="md-form mb-5">
                          
                          <label data-error="wrong" data-success="right" >Description </label>
                          <input type="text"  class="form-control validate" name="descriptionEntite" ngModel>
                        </div>
                        <div class="md-form mb-5">
                          
                          <label data-error="wrong" data-success="right" >EntiteParent </label>              
                            <span class="form-inline" >                     
                                <select name="idEntiteParent" class="custom-select" *ngIf="entites" ngModel>
                                    <option *ngFor="let e of entites" [value]="e.idEntite">{{e.abreviationEntite}}</option>
                                </select>
                            </span>
                          <!-- <input type="text"  class="form-control validate"  name="entiteParent" ngModel> -->
                        </div>                                          
                    </div>
                    <div class="modal-footer d-flex">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalSubscriptionForm">
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100 font-weight-bold">Modifier une Entite</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                <form *ngIf="entite" #f="ngForm" (ngSubmit)="onUpdateEntite(f.value.designationEntite, f.value.abreviationEntite, f.value.descriptionEntite, entite.idEntite)">
                  <div class="modal-body mx-3">
                    <div class="md-form mb-5">                        
                      <label data-error="wrong" data-success="right">Designation</label>
                      <input type="text" class="form-control validate" name="designationEntite" ngModel [(ngModel)]="entite.designationEntite">
                    </div>
                    <div class="md-form mb-5">                        
                      <label data-error="wrong" data-success="right" >Abreviation</label>
                      <input type="text"  class="form-control validate" name="abreviationEntite" ngModel [(ngModel)]="entite.abreviationEntite">
                    </div>
                    <div class="md-form mb-5">                        
                      <label data-error="wrong" data-success="right" >Description</label>
                      <input type="text"  class="form-control validate" name="descriptionEntite" ngModel [(ngModel)]="entite.descriptionEntite">
                    </div>       
                    <div class="md-form mb-5">                        
                      <label data-error="wrong" data-success="right" >EntiteParent </label>               
                        <span class="form-inline" >                     
                            <select name="entiteParent" class="custom-select" *ngIf="entites" (change)="onSelectedValue($event.target.value)" ngModel>
                                <option *ngFor="let i of entites" [value]="i.idEntite" >{{i.abreviationEntite}}</option>
                            </select>
                        </span> 
                    </div>       
                  </div>
                  <div class="modal-footer d-flex" >
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                      <input type="submit" class="btn btn-success" value="Enregistrer"  data-toggle="modal" data-target="#modalUpdateForm">
                  </div>
                </form>
              </div>
          </div>
        </div>
    </section>
    <!-- /.content -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div> -->
              <!-- /.card-header -->
              <div class="card-body">
                <table datatable [dtOptions]="dtOptions"  class="table table-bordered table-striped">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Designation</th>
                      <th scope="col">Abreviation</th>
                      <th scope="col">Description</th>
                      <th scope="col">EntiteParent</th>
                      <th></th>    
                      <th></th>                                
                      <th scope="col">Collaborateurs</th>                                
                    </tr>
                  </thead>
                  <tbody *ngIf="entites">
                    <tr *ngFor="let i of entites; let j=index">
                      <th scope="row">{{j+1}}</th>
                      <td>{{i.designationEntite}}</td>
                      <td>{{i.abreviationEntite}}</td>
                      <td>{{i.descriptionEntite}}</td>
                      <td><ng-container *ngIf="i.entiteParent">{{i.entiteParent.abreviationEntite}}</ng-container></td>
                      <td><a *ngIf="i.entiteParent" (click)="onDeleteEntite(i.idEntite)" class="btn btn-danger" ><i class="fas fa-trash"></i></a></td>
                      <td><a (click)="onGetEntite(i.idEntite)" class="btn btn-primary" data-toggle="modal" data-target="#modalUpdateForm" ><i class="fas fa-pen-square"></i></a></td>
                      <td><a routerLink="/collaborateurs" class="btn btn-success float-end" (click)="onEntiteActive(i.idEntite)"><i class="fas fa-angle-double-right"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- <script>
    $(function () {
      $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]      
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });  
  </script> -->
